<main class="casting">
  <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4">
    <div class="col">
      <div class="card h-100">
        <img
          data-src="/static/img/companyImg/company1.jpg"
          class="card-img-top lazy"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">리오컴퍼니</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          data-src="/static/img/companyImg/company1.jpg"
          class="card-img-top lazy"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">리오컴퍼니</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          data-src="/static/img/companyImg/company2.png"
          class="card-img-top lazy"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Team.FIXIE</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          data-src="/static/img/companyImg/company2.png"
          class="card-img-top lazy"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Team.FIXIE</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          data-src="/static/img/companyImg/company3.jpg"
          class="card-img-top lazy"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">하이브</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          data-src="/static/img/companyImg/company3.jpg"
          class="card-img-top lazy"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">하이브</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          data-src="/static/img/companyImg/company4.jpg"
          class="card-img-top lazy"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">FNC</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          data-src="/static/img/companyImg/company4.jpg"
          class="card-img-top lazy"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">FNC</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          data-src="/static/img/companyImg/company4.jpg"
          class="card-img-top lazy"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">FNC</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          data-src="/static/img/companyImg/company4.jpg"
          class="card-img-top lazy"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">FNC</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          data-src="/static/img/companyImg/company5.jpg"
          class="card-img-top lazy"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">JYP</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          data-src="/static/img/companyImg/company6.jpg"
          class="card-img-top lazy"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">SM</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          data-src="/static/img/companyImg/company6.jpg"
          class="card-img-top lazy"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">SM</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          data-src="/static/img/companyImg/company6.jpg"
          class="card-img-top lazy"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">SM</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          data-src="/static/img/companyImg/company7.jpg"
          class="card-img-top lazy"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">YG</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          data-src="/static/img/companyImg/company7.jpg"
          class="card-img-top lazy"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">YG</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          data-src="/static/img/companyImg/company7.jpg"
          class="card-img-top lazy"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">YG</p>
        </div>
      </div>
    </div>
  </div>
</main>
