<div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4">
  <div class="col">
    <div class="card h-100">
      <i class="card-bookmark bi bi-bookmark"></i>
      <img
        data-src="/static/img/companyImg/company3.jpg"
        class="card-img-top lazy"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">모바일 게임 여성 모델</h5>
        <p class="card-text">하이브</p>
        <p class="card-location">서울</p>
        <p class="card-tag">
          <span>여성</span>
          <span>20대</span>
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <i class="card-bookmark bi bi-bookmark"></i>
      <img
        data-src="/static/img/companyImg/company3.jpg"
        class="card-img-top lazy"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">모바일 게임 여성 모델</h5>
        <p class="card-text">하이브</p>
        <p class="card-location">서울</p>
        <p class="card-tag">
          <span>여성</span>
          <span>20대</span>
          <span>30대</span>
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <i class="card-bookmark bi bi-bookmark"></i>
      <img
        data-src="/static/img/companyImg/company4.jpg"
        class="card-img-top lazy"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">헤어에센스 제품 바이럴 광고</h5>
        <p class="card-text">FNC</p>
        <p class="card-location">서울</p>
        <p class="card-tag">
          <span>남성</span>
          <span>30 이상</span>
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <i class="card-bookmark bi bi-bookmark"></i>
      <img
        data-src="/static/img/companyImg/company4.jpg"
        class="card-img-top lazy"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">헤어에센스 제품 바이럴 광고</h5>
        <p class="card-text">FNC</p>
        <p class="card-location">서울</p>
        <p class="card-tag">
          <span>남성</span>
          <span>30 이상</span>
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <i class="card-bookmark bi bi-bookmark"></i>
      <img
        data-src="/static/img/companyImg/company4.jpg"
        class="card-img-top lazy"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">여성 의류 브랜드 FW시즌 룩북 촬영</h5>
        <p class="card-text">FNC</p>
        <p class="card-location">서울</p>
        <p class="card-tag">
          <span>여성</span>
          <span>30 이상</span>
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <i class="card-bookmark bi bi-bookmark"></i>
      <img
        data-src="/static/img/companyImg/company4.jpg"
        class="card-img-top lazy"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">여성 의류 브랜드 FW시즌 룩북 촬영</h5>
        <p class="card-text">FNC</p>
        <p class="card-location">서울</p>
        <p class="card-tag">
          <span>여성</span>
          <span>30 이상</span>
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <i class="card-bookmark bi bi-bookmark"></i>
      <img
        data-src="/static/img/companyImg/company5.jpg"
        class="card-img-top lazy"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">주연 20대 중반 ~ 30대 초반 남/여역</h5>
        <p class="card-text">JYP</p>
        <p class="card-location">서울</p>
        <p class="card-tag">
          <span>남성</span>
          <span>20대 중반</span>
          <span>30대 초반</span>
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <i class="card-bookmark bi bi-bookmark"></i>
      <img
        data-src="/static/img/companyImg/company6.jpg"
        class="card-img-top lazy"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">주연 주연 모델역</h5>
        <p class="card-text">SM</p>
        <p class="card-location">서울</p>
        <p class="card-tag">
          <span>남성</span>
          <span>30 이상</span>
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <i class="card-bookmark bi bi-bookmark"></i>
      <img
        data-src="/static/img/companyImg/company6.jpg"
        class="card-img-top lazy"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">단역 여자 단역 여자 중/고등학생 역역</h5>
        <p class="card-text">SM</p>
        <p class="card-location">서울</p>
        <p class="card-tag">
          <span>여성</span>
          <span>20대</span>
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <i class="card-bookmark bi bi-bookmark"></i>
      <img
        data-src="/static/img/companyImg/company6.jpg"
        class="card-img-top lazy"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">주연 남자3 사업가역</h5>
        <p class="card-text">SM</p>
        <p class="card-location">서울</p>
        <p class="card-tag">
          <span>남성</span>
          <span>30 이상</span>
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <i class="card-bookmark bi bi-bookmark"></i>
      <img
        data-src="/static/img/companyImg/company7.jpg"
        class="card-img-top lazy"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">주연 컬러샴푸 탈색 메인 모델역</h5>
        <p class="card-text">YG</p>
        <p class="card-location">서울</p>
        <p class="card-tag">
          <span>남성</span>
          <span>30 이상</span>
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <i class="card-bookmark bi bi-bookmark"></i>
      <img
        data-src="/static/img/companyImg/company7.jpg"
        class="card-img-top lazy"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">주연 남자주인공역</h5>
        <p class="card-text">YG</p>
        <p class="card-location">서울</p>
        <p class="card-tag">
          <span>남성</span>
          <span>30 이상</span>
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <i class="card-bookmark bi bi-bookmark"></i>
      <img
        data-src="/static/img/companyImg/company7.jpg"
        class="card-img-top lazy"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">주연 앞머리 모류교정 메인 모델역</h5>
        <p class="card-text">YG</p>
        <p class="card-location">서울</p>
        <p class="card-tag">
          <span>남성</span>
          <span>30 이상</span>
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <i class="card-bookmark bi bi-bookmark"></i>
      <img
        data-src="/static/img/companyImg/company1.jpg"
        class="card-img-top lazy"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">다이어트 유산균 SNS 협찬 광고</h5>
        <p class="card-text">리오컴퍼니</p>
        <p class="card-location">서울</p>
        <p class="card-tag">
          <span>남성</span>
          <span>30 이상</span>
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <i class="card-bookmark bi bi-bookmark"></i>
      <img
        data-src="/static/img/companyImg/company1.jpg"
        class="card-img-top lazy"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">어플 홍보 광고</h5>
        <p class="card-text">리오컴퍼니</p>
        <p class="card-location">서울</p>
        <p class="card-tag">
          <span>남성</span>
          <span>30 이상</span>
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <i class="card-bookmark bi bi-bookmark"></i>
      <img
        data-src="/static/img/companyImg/company2.png"
        class="card-img-top lazy"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">기능성 골프의류 여성 모델</h5>
        <p class="card-text">Team.FIXIE</p>
        <p class="card-location">서울</p>
        <p class="card-tag">
          <span>여성</span>
          <span>30 이상</span>
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <i class="card-bookmark bi bi-bookmark"></i>
      <img
        data-src="/static/img/companyImg/company2.png"
        class="card-img-top lazy"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">기능성 골프의류 남성 모델</h5>
        <p class="card-text">Team.FIXIE</p>
        <p class="card-location">서울</p>
        <p class="card-tag">
          <span>남성</span>
          <span>30 이상</span>
        </p>
      </div>
    </div>
  </div>
</div>
