<link rel="stylesheet" href="/static/css/back_to_top/back_to_top.css" />
<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"
></script>

<a class="back_to_top"></a>

<script src="/static/js/back_to_top/back_to_top.js"></script>
