<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%-include("../style.ejs")%>
    <link href="/static/css/profile/profile.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <%-include("../navbar.ejs")%>
    <div class="profile">
      <div class="profile-header">
        <button type="button" class="btn btn-outline-primary">
          <a href="/profileUpdate"> 프로필 관리하기</a>
        </button>
      </div>
    </div>
    <!-- profile -->
    <main class="profile">
      <div class="profile-container">
        <div class="profile-inner">
          <img
            class="profile-img"
            src="/static/img/profile/user1/main4.jpg"
            alt=""
          />
          <div class="profile-content">
            <div class="container text-center">
              <div class="row">
                <div class="col-12 profile-name">한나나</div>
              </div>
              <div class="row profile-description">
                <div class="col-2 offset-2">
                  <p><strong>생년월일</strong></p>
                  <p>xx.xx.xx</p>
                </div>
                <div class="col-2">
                  <p><strong>Height</strong></p>
                  <p>xxxcm</p>
                </div>
                <div class="col-2">
                  <p><strong>Weight</strong></p>
                  <p>xxkg</p>
                </div>
                <div class="col-2">
                  <p><strong>3 Size</strong></p>
                  <p>xx-xx-xx</p>
                </div>
              </div>
              <!-- cards -->
              <div class="row row-cols-1 row-cols-md-3">
                <div class="col mt-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        This is a longer card with supporting text below as a
                        natural lead-in to additional content. This content is a
                        little bit longer.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col mt-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        This is a longer card with supporting text below as a
                        natural lead-in to additional content. This content is a
                        little bit longer.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col mt-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        This is a longer card with supporting text below as a
                        natural lead-in to additional content. This content is a
                        little bit longer.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col mt-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        This is a longer card with supporting text below as a
                        natural lead-in to additional content. This content is a
                        little bit longer.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col mt-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        This is a longer card with supporting text below as a
                        natural lead-in to additional content.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col mt-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        This is a longer card with supporting text below as a
                        natural lead-in to additional content. This content is a
                        little bit longer.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- profile img -->
    <main class="profile">
      <div class="profile-top">
        <span class="profile-top-text">대표 사진</span>
      </div>
      <div class="center"></div>
    </main>

    <!-- profile movie -->
    <main class="profile">
      <div class="profile-top">
        <span class="profile-top-text">대표 영상</span>
      </div>
      <div class="center"></div>
    </main>

    <script src="/jq/jquery.js"></script>
    <script src="/static/js/profile/carousel.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/slick/slick.js"></script>
  </body>
</html>
