<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/slick/slick.css" rel="stylesheet" />
    <link href="/slick/slick-theme.css" rel="stylesheet" />
    <link href="/static/css/navbar/style.css" rel="stylesheet" />
    <link href="/static/css/profile/style.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <div id="logo_Box">
        <a href="/">
          <img
            src="/static/img/index_img/celebstars_logo.png"
            alt=""
            id="logo_img"
          />
        </a>
      </div>
      <nav id="navBar">
        <ul>
          <li><a href="/">캐스팅</a></li>
          <li><a href="/">매거진</a></li>
          <li><a href="/">미디어</a></li>
          <li><a href="/">커뮤니티</a></li>
        </ul>
      </nav>
      <div id="login_Box">
        <ul>
          <li>
            <a href="">
              <img
                src="/static/img/index_img/login_icon.png"
                alt=""
                id="login_Icon"
              />
            </a>
          </li>
          <li>
            <a href="">
              <img
                src="/static/img/index_img/q&a_icon.png"
                alt=""
                id="qa_Icon"
              />
            </a>
          </li>
        </ul>
      </div>
    </header>

    <nav id="navBar_Mob">
      <ul>
        <li><a href="/">캐스팅</a></li>
        <li><a href="/">매거진</a></li>
        <li><a href="/">미디어</a></li>
        <li><a href="/">커뮤니티</a></li>
      </ul>
    </nav>

    <!-- profile -->
    <main class="profile">
      <div class="profile-container">
        <div class="profile-inner">
          <img
            class="profile-img"
            src="/static/img/profile/user1/main6.jpg"
            alt=""
          />
          <div class="profile-content">
            <div class="container text-center">
              <div class="row">
                <div class="col-12 profile-name">xxx</div>
              </div>
              <div class="row profile-description">
                <div class="col-2 offset-2">
                  <p><strong>생년월일</strong></p>
                  <p>xx.xx.xx</p>
                </div>
                <div class="col-2">
                  <p><strong>Height</strong></p>
                  <p>xxxcm</p>
                </div>
                <div class="col-2">
                  <p><strong>Weight</strong></p>
                  <p>xxkg</p>
                </div>
                <div class="col-2">
                  <p><strong>3 Size</strong></p>
                  <p>xx-xx-xx</p>
                </div>
              </div>
              <!-- cards -->
              <div class="row row-cols-1 row-cols-md-3">
                <div class="col mt-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        This is a longer card with supporting text below as a
                        natural lead-in to additional content. This content is a
                        little bit longer.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col mt-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        This is a longer card with supporting text below as a
                        natural lead-in to additional content. This content is a
                        little bit longer.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col mt-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        This is a longer card with supporting text below as a
                        natural lead-in to additional content. This content is a
                        little bit longer.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col mt-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        This is a longer card with supporting text below as a
                        natural lead-in to additional content. This content is a
                        little bit longer.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col mt-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        This is a longer card with supporting text below as a
                        natural lead-in to additional content.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col mt-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        This is a longer card with supporting text below as a
                        natural lead-in to additional content. This content is a
                        little bit longer.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- profile img -->
    <h1>사진</h1>
    <div class="center"></div>

    <!-- profile movie -->
    <h1>영상</h1>
    <div class="center"></div>

    <div class=""></div>

    <script src="/jq/jquery.js"></script>
    <script src="/static/js/profile/carousel.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/slick/slick.js"></script>
  </body>
</html>
