<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../static/css/style.css" />
  <link rel="stylesheet" href="../../static/css/magazine/common.css" />
  <link rel="stylesheet" href="../../static/css/magazine/kimbaekjin_img_path.css" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="../../static/js/magazine_scroll/magazine_scroll.js" defer></script>

  <title>magazine</title>
</head>

<body class="magazine_body">
  <div class="magazine_container">
    <!-- 화면의 버튼들 -->
    <section class="close_button">
      <button id='closeBtn' class='close_button_value'>X</button>
    </section>

    <section class="button_down">
      <img src="/static/img/artistImg/page_down_arrow_action.gif" />
    </section> 
    <!-- 프로필 사진 래퍼 -->
    <div class="magazine_bg_img">
      <div class="main_img">
        <div class="artist_name">김 백 진</div>
      </div>
    </div>

    <div class="magazine_bg_img">
      <div class="img_filter">
        <div class="posting_img_wrapper magazine_posting_img">
          <div class='magazine_posting_img2'>
            <div class="artist_info_wrapper right">
              <div class="artist_info">
                <p class="info_text">생년월일</p>
                <p class="info_text">키</p>
                <p class="info_text">몸무게</p>
                <p class="info_text">3-사이즈</p>
                <p class="info_text">신발 사이즈</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="magazine_bg_img">
      <div class="img_filter">
        <div class="posting_img_wrapper magazine_posting_img">
          <div class='magazine_posting_img3'></div>
        </div>
      </div>
    </div>

    <div class="magazine_bg_img">
      <div class="img_filter">
        <div class="posting_img_wrapper magazine_posting_img">
          <div class='magazine_posting_img4'>
            <div class="artist_info_wrapper right">
              <div class="artist_career">
                <% for (let i=0; i<2; i++) { %>
                <section class="career_wrapper">
                  <p class="career_title">경력 타이틀</p>
                  <% for (let j=0; j<9; j++) {%>
                  <p class="career_content">경력 내용</p>
                  <% } %>
                </section>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="magazine_bg_img">
      <div class="img_filter">
        <div class="posting_img_wrapper magazine_posting_img">
          <div class='magazine_posting_img5'>
            <div class="artist_info_wrapper left">
              <div class="artist_career">
                <% for (let i=0; i<2; i++) { %>
                <section class="career_wrapper">
                  <p class="career_title">경력 타이틀</p>
                  <% for (let j=0; j<9; j++) {%>
                  <p class="career_content">경력 내용</p>
                  <% } %>
                </section>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="magazine_bg_img">
      <div class="img_filter">
        <div class="posting_img_wrapper magazine_posting_img">
          <div class='magazine_posting_img6'>
            <div class="artist_info_wrapper right">
              <div class="artist_career">
                <% for (let i=0; i<2; i++) { %>
                <section class="career_wrapper">
                  <p class="career_title">경력 타이틀</p>
                  <% for (let j=0; j<9; j++) {%>
                  <p class="career_content">경력 내용</p>
                  <% } %>
                </section>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="magazine_bg_img">
      <div class="img_filter">
        <div class="posting_img_wrapper magazine_posting_img">
          <div class='magazine_posting_img7'></div>
        </div>
      </div>
    </div>

    <div class="magazine_bg_img">
      <div class="img_filter">
        <div class="posting_img_wrapper magazine_posting_img">
          <div class='magazine_posting_img8'></div>
        </div>
      </div>
    </div>

    <div class="magazine_bg_img">
      <div class="img_filter">
        <div class="posting_img_wrapper double_page magazine_posting_img">
          <div class='magazine_posting_img9'></div>
          <div class='magazine_posting_img10'></div>
        </div>
      </div>
    </div>

    <div class="magazine_bg_img">
      <div class="img_filter">
        <div class="posting_img_wrapper magazine_posting_img">
          <div class='magazine_posting_img11'></div>
          <div class='magazine_posting_img12'></div>
        </div>
      </div>
    </div>

    <div class="magazine_bg_img">
      <div class="img_filter">
        <div class="posting_img_wrapper magazine_posting_img">
          <div class='magazine_posting_img13'></div>
        </div>
      </div>
    </div>

    <div class="magazine_bg_img">
      <div class="img_filter">
        <div class="posting_img_wrapper magazine_posting_img">
          <div class='magazine_posting_img14'></div>
        </div>
      </div>
    </div>

    <div class="magazine_bg_img">
      <div class="img_filter">
        <div class="posting_img_wrapper magazine_posting_img">
          <div class="last_grid_wrapper">
            <div class='magazine_posting_img_last'></div>
            <ul class="social_wrapper">
              <li class="social_list"><img src="../../static/img/social_icon/phone.png"><span class="social_text">010-5775-2759</span></li>
              <li class="social_list"><img src="../../static/img/social_icon/instagram.png"><a target='_blank' href='https://www.instagram.com/celebstars_k/'><span class="social_text">인스타 바로가기</span></a></li>
              <li class="social_list"><img src="../../static/img/social_icon/ytb.png"><a target='_blank' href='https://www.youtube.com/channel/UCzlfQtFGGo74GkuvsAkMQGg'><span class="social_text">유튜브 바로가기</span></a></li>
              <li class="social_list"><img src="../../static/img/social_icon/facebook.png"><a target='_blank' href='https://www.facebook.com/people/%EC%85%80%EB%9F%BD%EC%8A%A4%ED%83%80%EC%A6%88/100054498323412/'><span class="social_text">페북 바로가기</span></a></li>
              <li class="social_list"><img src="../../static/img/social_icon/kakao.png"><a target='_blank' href='#'><span class="social_text">카톡 바로가기</span></a></li>
            </ul>
            <img class="to_the_top" src="../../static/img/artistImg/page_down_arrow_action.gif">
          </div>
        </div>
      </div>
    </div>

  </div>
</body>

</html>