<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>parallax</title>
  <link rel="stylesheet" href="../../static/css/magazine/magazine.css" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body class="body">
  <div class="container_box">

    <!-- 아이콘 래퍼  -->
    <div class="wrapper_buttons">
      <section class="button close">
        <button id='closeBtn' class='close_button_value' type="button">X</button>
      </section>

      <section class="button down">
        <img src="/static/img/artistImg/page_down_arrow_action.gif" />
      </section>
    </div>

    <!-- 이미지  -->
    <section class="img_wrapper page_one">
      <div class='user_name'>김 백 진</div>
    </section>

    <section class="img_wrapper">

      <div class="page_two">
        <div class="magazine_filter">
          <div class="two_img_wrapper">
            <img class="two_img" src="../../static/img/artistImg/김백진/image1.jpeg">
            <div class="model_info">
              <div>
                <p>생년월일</p>
                <p> 2022. 08. 17 </p>
              </div>
              <div>
                <p> 키 </p>
                <p> 1** cm</p>
              </div>
              <div>
                <p> 몸무게 </p>
                <p> ** kg</p>
              </div>
              <div>
                <p> 3 size </p>
                <p> 00 - 00 - 00 </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="img_wrapper page_three">
      <div class="magazine_filter">
        <img class="three_img" src="../../static/img/artistImg/김백진/image1.jpeg" alt="">
      </div>
    </section>

    <section class="img_wrapper">
      <div class="page_four">
        <img class="four_img">
        <div class="magazine_filter">
          <aside class="model_career">
            <div class="model_career_details">
              <p>경력1</p>
              <% for (let i=0; i<8; i++) {%>
                <p> 경력 내용</p>
                <% } %>
            </div>
            <div class="model_career_details">
              <p>경력2</p>
              <% for (let i=0; i<8; i++) {%>
                <p> 경력 내용</p>
                <% } %>
            </div>
          </aside>
        </div>
      </div>
    </section>

    <section class="img_wrapper">
      <div class="page_five">
        <div class="magazine_filter">

          <aside class="model_career">
            <div class="model_career_details">
              <p>경력1</p>
              <% for (let i=0; i<8; i++) {%>
                <p> 경력 내용</p>
                <% } %>
            </div>
            <div class="model_career_details">
              <p>경력2</p>
              <% for (let i=0; i<8; i++) {%>
                <p> 경력 내용</p>
                <% } %>
            </div>
          </aside>
        </div>

        <div class="five_img"></div>
      </div>
    </section>

    <section class="img_wrapper page_six">
      <div class="six_img"></div>
      <div class="magazine_filter">

        <aside class="model_career">
          <div class="model_career_details">
            <p>경력1</p>
            <% for (let i=0; i<8; i++) {%>
              <p> 경력 내용</p>
              <% } %>
          </div>
          <div class="model_career_details">
            <p>경력2</p>
            <% for (let i=0; i<8; i++) {%>
              <p> 경력 내용</p>
              <% } %>
          </div>
        </aside>
      </div>
    </section>

    <section class="img_wrapper page_seven">
      <div class="magazine_filter">
        <img class="three_img" src="/static/img/artistImg/김백진/image5.jpeg" alt="">
      </div>
    </section>
    <section class="img_wrapper page_eight">
      <div class="magazine_filter">
        <img class="three_img" src="/static/img/artistImg/김백진/image6.jpeg" alt="">
      </div>
    </section>

    <section class="img_wrapper">
      <div class="page_nine">
        <div class="nine_img"></div>
        <div class="ten_img"></div>
      </div>
    </section>

    <section class="img_wrapper">

      <div class="page_ten">
        <div class="magazine_filter">

          <div class="eleven_img"></div>
          <div class="twelve_img"></div>
        </div>
      </div>
    </section>

    <section class="img_wrapper page_eleven">
      <div class="magazine_filter">
        <img class="three_img" src="/static/img/artistImg/김백진/image12.jpeg" alt="">
      </div>
    </section>
    <section class="img_wrapper page_twelve">
      <div class="magazine_filter">
        <img class="three_img" src="/static/img/artistImg/김백진/image13.jpeg" alt="">
      </div>
    </section>

    <section class="img_wrapper">
      <div class="page_last_thirteen">
        <div class="magazine_filter">
          <div class="last_wrapper">
            <img class='last_fifteen_img' src='/static/img/artistImg/김백진/image14.jpeg'>

            <ul class="social magazine_ul">
            <li class="social_info magazine_li">
              <img src="/static/img/social_icon/">
              <div class="info_item">010-5575-2759</div>
            </li>
            <li class="magazine_li">
              <a class="social_info magazine_a" href='https://www.instagram.com/celebstars_k/'>
                <img src="/static/img/social_icon//instagram.png">
                <div class="info_item">셀럽스타즈 인스타</div>
              </a>
            </li>
            <li class="magazine_li">
              <a class="social_info magazine_a"
                href='https://www.facebook.com/people/%EC%85%80%EB%9F%BD%EC%8A%A4%ED%83%80%EC%A6%88/100054498323412/'>
                <img src="/static/img/social_icon//facebook.png">
                <div class="info_item">셀럽스타즈 페북</div>
              </a>
            </li>
            <li class="magazine_li">
              <a class="social_info magazine_a" href='https://www.youtube.com/channel/UCzlfQtFGGo74GkuvsAkMQGg'>
                <img src="/static/img/social_icon//ytb.png">
                <div class="info_item">셀럽스타즈 유튜브</div>
              </a>
            </li>
            <li class="magazine_li">
              <a class="social_info magazine_a" href='#'>
                <img src="/static/img/icon/kakao.png">
                <div class="info_item">셀럽스타즈 카톡</div>
              </a>
            </li>
          </ul>
          </div>
        </div>
      </div>
      <div class="toTheTop">
        <img class='toTheTopIcon' src="../../static/img/artistImg/page_down_arrow_action.gif">
      </div>
    </section>

  </div>

  <script>
    let imgs = document.querySelectorAll('.img_wrapper');
    // window.scrollTo({ top: imgs[0].offsetTop, behavior: "smooth" });

    // 버튼 눌러 다음 페이지로 이동
    function lazyLoad() {
      if (window.scrollY === 0) {
        window.scrollTo({ top: imgs[1].offsetTop, behavior: 'smooth' });
      } else {
        for (let i = 0; i < imgs.length; i++) {
          if (window.scrollY >= imgs[i].offsetTop) {
            window.scrollTo({ top: imgs[i + 1].offsetTop, behavior: 'smooth' });
          }
        }
      }
    }

    const downBtn = document.querySelector('.down');
    downBtn.addEventListener('click', lazyLoad)

    // 창닫기 기능
    const closeBtn = document.getElementById('closeBtn');
    closeBtn.addEventListener('click', () => {
      console.log(1)


      window.close();
      // return false
    });


    // 스크롤 하단 감지
    const HIDDEN_CLASS = 'magazine_hidden';
    document.addEventListener("scroll", function () {
      // console.log(window.scrollY,window.innerHeight,document.body.clientHeight)
      if (window.scrollY + window.innerHeight === document.body.clientHeight) {
        downBtn.classList.add(HIDDEN_CLASS);
      } else {
        downBtn.classList.remove(HIDDEN_CLASS);
      }
    })

    // to the top
    const toTheTop = document.querySelector('.toTheTop');

    $('.toTheTop').on('click', () => {
      window.scrollTo({ top: imgs[0].offsetTop, behavior: "smooth" });
    })
    // toTheTop.addEventListener('click', () => {
    //   window.scrollTo({ top: imgs[0].offsetTop, behavior: "smooth" });
    // })


  </script>
</body>

</html>