<div class="customer_content" id="event">
  <div class="event_length">
    <p>총 <span style="color: rgb(255, 89, 24)"><%= imax = 5%></span>건</p>
  </div>
  <div class="event_card_box">
    <%for(var i=1;i<imax+1;i++) {%>
    <div class="card">
      <a href="#">
        <img src="/static/img/customersupport/event/event_banner<%=i%>.jpg" alt="" />
        <h4>최대2만포인트 쏜다!! 500명 가입 축하 이벤트</h4>
        <p>2021.12.07 ~ 2022.06.01</p>
      </a>
    </div>
    <%}%>
  </div>
</div>
