<div class="faq_item">
  <div class="faq_accordion" data-group="faq">
    <button class="faq_btn">Q. 알바생을 모집하는 방법은?</button>
    <div class="faq_desc">
      셀럽스타즈는 아르바이트,오디션등 캐스팅 공고 등록 방법은 동일합니다.
      커뮤니티 > 정보&팁 > "캐스팅 등록하는 방법" 을 참고 하셔서 진행하시면
      됩니다.
    </div>
  </div>
  <div class="faq_accordion" data-group="faq">
    <button class="faq_btn">Q. 알림톡을 전송하는 방법은?</button>
    <div class="faq_desc">
      해당 페이지 추천 프로필들을 체크 하여 다수의 프로필에 발송 하실 수
      있습니다. 자세한 내용은 커뮤니티 > 정보&팁 > "기업 회원을 위한 3가지 TIP.
      Chapter 2. 알림톡 활용하기" 를 참고해주세요.
    </div>
  </div>
  <div class="faq_accordion" data-group="faq">
    <button class="faq_btn">Q. 추천 프로필이 뭔가요</button>
    <div class="faq_desc">
      등록 된 캐스팅 공고에 맞는 모델/배우 프로필을 자동으로 추천 해주는 서비스
      입니다. 자세한 정보는 커뮤니티 > 정보&팁 > " 기업 회원을 위한 3가지 TIP.
      Chapter 1. 추천 프로필" 게시글에 들어가시면 자세한 안내가 나와있습니다.
    </div>
  </div>
  <div class="faq_accordion" data-group="faq">
    <button class="faq_btn">Q. Q&A 를 작성하면 전체 공개 되나요?</button>
    <div class="faq_desc">Q&A는 작성자 본인에게만 노출됩니다.</div>
  </div>
  <div class="faq_accordion" data-group="faq">
    <button class="faq_btn">Q. 프로필 여러 개 등록하는 방법은?</button>
    <div class="faq_desc">
      커뮤니티 > 정보&팁 > "개인 프로필 손쉽게 등록하는 방법" 게시글을 참고
      하셔서 프로필을 등록 하셨다면, 같은 과정을 다시 반복하시면 등록 하실 수
      있습니다. 최대 5개까지 등록 가능합니다. ex_홍길동 배우, 홍길동 모델용 ,
      홍길동 알바지원용 프로필, 홍길동 행사 지원용, 홍길동 광고용 프로필
    </div>
  </div>
  <div class="faq_accordion" data-group="faq">
    <button class="faq_btn">Q. 캐스팅 등록은 어떻게 하나요?</button>
    <div class="faq_desc">
      휴대전화 인증을 진행한 기업들만 우측 상단 캐스팅 등록 또는 마이페이지에
      들어가시면 캐스팅 등록을 하실 수 있습니다. 커뮤니티 > 정보&팁 > "캐스팅
      등록하는 방법" 게시물에 들어가시면 자세한 안내가 나와있습니다.
    </div>
  </div>
  <div class="faq_accordion" data-group="faq">
    <button class="faq_btn">Q. 프로필 등록은 어떻게 하나요?</button>
    <div class="faq_desc">
      휴대전화 인증을 진행한 회원들만 우측 상단 프로필 등록 또는 마이페이지 >
      프로필 관리 > 프로필 등록으로 가셔서 등록을 하실 수 있습니다. 커뮤니티 >
      정보&팁 > "개인 프로필 손쉽게 등록하는 방법" 게시글에 들어가시면 자세한
      안내가 나와있습니다.
    </div>
  </div>
  <div class="faq_accordion" data-group="faq">
    <button class="faq_btn">Q. 셀럽스타즈 계정은 누구나 만들 수 있나요?</button>
    <div class="faq_desc">
      네. 셀럽스타즈 계정은 누구나 만드실 수 있습니다. 단, 휴대전화 인증을
      받으셔야 프로필, 캐스팅 등록이 가능합니다. 또한, 하나의 인증을 통해
      기업,개인 중 하나의 계정으로만 인증됨으로 인증 진행 시 신중히 진행
      해주세요..
    </div>
  </div>
</div>
