<!-- The Modal/Lightbox -->
<div id="img-modal" class="modal">
  <span class="modal-close cursor" onclick="closeModal('img')">&times;</span>
  <div class="modal-content">
    <div class="myImgSlides">
      <img src="/static/img/profile/user1/picture1.jpg" class="pictureSize" />
    </div>
    <div class="myImgSlides">
      <img src="/static/img/profile/user1/picture2.jpg" class="pictureSize" />
    </div>
    <div class="myImgSlides">
      <img src="/static/img/profile/user1/picture3.jpg" class="pictureSize" />
    </div>
    <div class="myImgSlides">
      <img src="/static/img/profile/user1/picture4.jpg" class="pictureSize" />
    </div>
    <div class="myImgSlides">
      <img src="/static/img/profile/user1/picture5.jpg" class="pictureSize" />
    </div>
    <div class="myImgSlides">
      <img src="/static/img/profile/user1/picture6.jpg" class="pictureSize" />
    </div>
    <div class="myImgSlides">
      <img src="/static/img/profile/user1/picture7.jpg" class="pictureSize" />
    </div>
    <div class="myImgSlides">
      <img src="/static/img/profile/user1/picture8.jpg" class="pictureSize" />
    </div>
    <div class="myImgSlides">
      <img src="/static/img/profile/user1/picture9.jpg" class="pictureSize" />
    </div>
    <div class="myImgSlides">
      <img src="/static/img/profile/user1/picture10.jpg" class="pictureSize" />
    </div>
    <div class="myImgSlides">
      <img src="/static/img/profile/user1/picture11.png" class="pictureSize" />
    </div>
    <div class="myImgSlides">
      <img src="/static/img/profile/user1/picture12.png" class="pictureSize" />
    </div>
    <div class="myImgSlides">
      <img src="/static/img/profile/user1/picture13.jpg" class="pictureSize" />
    </div>
    <div class="myImgSlides">
      <img src="/static/img/profile/user1/picture14.jpg" class="pictureSize" />
    </div>
    <div class="myImgSlides">
      <img src="/static/img/profile/user1/picture15.png" class="pictureSize" />
    </div>
    <!-- Next/previous controls -->
    <a class="prev" onclick="plusImgSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusImgSlides(1)">&#10095;</a>

    <!-- Caption text -->
  </div>
</div>
