<!-- The Modal/Lightbox -->
<div id="img-modal" class="modal">
  <span class="modal-close cursor" onclick="closeModal('img')">&times;</span>
  <div class="modal-content">
    <div class="myImgSlides">
      <img
        src="/static/img/artistImg/hannana/picture1.jpg"
        class="pictureSize"
      />
    </div>
    <div class="myImgSlides">
      <img
        src="/static/img/artistImg/hannana/picture2.jpg"
        class="pictureSize"
      />
    </div>
    <div class="myImgSlides">
      <img
        src="/static/img/artistImg/hannana/picture3.jpg"
        class="pictureSize"
      />
    </div>
    <div class="myImgSlides">
      <img
        src="/static/img/artistImg/hannana/picture4.jpg"
        class="pictureSize"
      />
    </div>
    <div class="myImgSlides">
      <img
        src="/static/img/artistImg/hannana/picture5.jpg"
        class="pictureSize"
      />
    </div>
    <div class="myImgSlides">
      <img
        src="/static/img/artistImg/hannana/picture6.jpg"
        class="pictureSize"
      />
    </div>
    <div class="myImgSlides">
      <img
        src="/static/img/artistImg/hannana/picture7.jpg"
        class="pictureSize"
      />
    </div>
    <div class="myImgSlides">
      <img
        src="/static/img/artistImg/hannana/picture8.jpg"
        class="pictureSize"
      />
    </div>
    <div class="myImgSlides">
      <img
        src="/static/img/artistImg/hannana/picture9.jpg"
        class="pictureSize"
      />
    </div>
    <div class="myImgSlides">
      <img
        src="/static/img/artistImg/hannana/picture10.jpg"
        class="pictureSize"
      />
    </div>
    <div class="myImgSlides">
      <img
        src="/static/img/artistImg/hannana/picture11.png"
        class="pictureSize"
      />
    </div>
    <div class="myImgSlides">
      <img
        src="/static/img/artistImg/hannana/picture12.png"
        class="pictureSize"
      />
    </div>
    <div class="myImgSlides">
      <img
        src="/static/img/artistImg/hannana/picture13.jpg"
        class="pictureSize"
      />
    </div>
    <div class="myImgSlides">
      <img
        src="/static/img/artistImg/hannana/picture14.jpg"
        class="pictureSize"
      />
    </div>
    <div class="myImgSlides">
      <img
        src="/static/img/artistImg/hannana/picture15.png"
        class="pictureSize"
      />
    </div>
    <!-- Next/previous controls -->
    <a class="prev" onclick="plusImgSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusImgSlides(1)">&#10095;</a>

    <!-- Caption text -->
  </div>
</div>
