<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content modal-shadow">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <img
            class="profile-icon"
            src="/static/img/profile/profileIcon/kakakotalk.png"
            alt=""
          />
          <span class="sns-font"> <strong> 카카오톡 </strong> </span>
        </div>
        <div>
          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control"
              id="floatingInput"
              placeholder="kakaotalk@example.com"
            />
            <label for="floatingInput">kakaotalk</label>
          </div>
        </div>
        <div class="mb-3">
          <img
            class="profile-icon"
            src="/static/img/profile/profileIcon/youtube.png"
            alt=""
          />
          <span class="sns-font"> <strong> 유튜브 </strong> </span>
        </div>
        <div>
          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control"
              id="floatingInput"
              placeholder="youtube@example.com"
            />
            <label for="floatingInput">youtube</label>
          </div>
        </div>
        <div class="mb-3">
          <img
            class="profile-icon"
            src="/static/img/profile/profileIcon/instagram.png"
            alt=""
          />
          <span class="sns-font"> <strong> 인스타그램 </strong> </span>
        </div>
        <div>
          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control"
              id="floatingInput"
              placeholder="instargram@example.com"
            />
            <label for="floatingInput">instargram</label>
          </div>
        </div>
        <div class="mb-3">
          <img
            class="profile-icon"
            src="/static/img/profile/profileIcon/twitter.png"
            alt=""
          />
          <span class="sns-font"> <strong> 트위터 </strong> </span>
        </div>
        <div>
          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control"
              id="floatingInput"
              placeholder="twitter@example.com"
            />
            <label for="floatingInput">twitter</label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>
