.modal {
  display: none;
  position: fixed;
  z-index: 2000;
  padding-top: 150px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.inquiry_inner {
  background-color: white;
  margin: auto;
  padding: 20px;
  border: 1px solid lightgray;
  width: 600px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.inquiry_title {
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  margin: 0;
}

.close {
  width: 50px;
  height: 50px;
  color: darkgray;
  float: right;
  font-size: 36px;
  font-weight: bold;
  margin-top: -10px;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.inquiry_contents {
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: left;
}
.inquiry_contents div {
  margin-bottom: 10px;
}
.inquiry_contents p {
  font-weight: bold;
  margin-bottom: 0;
  text-align: left;
  border-bottom: 1px solid lightgray;
}
.inquiry_inner_content {
  border: 1px solid lightgray;
}
.inquiry_user_id {
  margin-top: 10px;
}
#mini_title,
#inquiry_desc {
  width: 100%;
  margin: 10px 0;
  border: 1px solid lightgray;
  padding: 0 10px;
}
#inquiry_desc {
  height: 20vh;
  overflow: auto;
}
#inquiry_submit_btn {
  width: 100px;
  height: 30px;
  margin-top: 10px;
  border: 1px solid darkgray;
  border-radius: 10px;
  color: black;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: white;
}
#inquiry_submit_btn:hover {
  border: 2px solid #ffc107;
  background-color: #ffc107;
}
@media screen and (max-width: 770px) {
  .inquiry_inner {
    width: 96%;
  }
}
