<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>celebstars</title>
    <link rel="stylesheet" href="/static/css/index.css" />
  </head>
  <body>
    <div id="wrap">
      <header>
        <div id="logo_Box">
          <a href="/">
            <img
              src="/static/img/index_img/celebstars_logo.png"
              alt=""
              id="logo_img"
            />
          </a>
        </div>
        <nav id="navBar">
          <ul>
            <li><a href="/">캐스팅</a></li>
            <li><a href="/">매거진</a></li>
            <li><a href="/">미디어</a></li>
            <li><a href="/">커뮤니티</a></li>
          </ul>
        </nav>
        <div id="login_Box">
          <ul>
            <li>
              <a href="">
                <img
                  src="/static/img/index_img/login_icon.png"
                  alt=""
                  id="login_Icon"
                />
              </a>
            </li>
            <li>
              <a href="">
                <img
                  src="/static/img/index_img/q&a_icon.png"
                  alt=""
                  id="qa_Icon"
                />
              </a>
            </li>
          </ul>
        </div>
      </header>
      <nav id="navBar_Mob">
        <ul>
          <li><a href="/">캐스팅</a></li>
          <li><a href="/">매거진</a></li>
          <li><a href="/">미디어</a></li>
          <li><a href="/">커뮤니티</a></li>
        </ul>
      </nav>

      <main>
        <div>img<img src="" alt="" /></div>
      </main>

      <footer>footer</footer>
    </div>
    <script></script>
  </body>
</html>
