<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>celebstars</title>
    <link rel="stylesheet" href="/static/css/index.css">
  </head>
  <body>
    <div>
      <header>
        <div id="logo_Box">로고박스</div>
        <nav id="navBar">navBar</nav>
        <div id="login_Box">로그인/회원가입</div>
      </header>
      
      <main>
        <div>
          img<img src="" alt="">
        </div>
        mains
      </main>

      <footer>
        footer
      </footer>
    </div>
    <script></script>
  </body>
</html>
