<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>parallax</title>
  <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.0.min.js"></script> -->
</head>

<body>
  <!-- <section class="closeBtn">
    <img src="static/img/close_button.png" />
  </section> -->
  <section class="downBtn">
    <img src="static/img/page_down_arrow_action.gif" />
  </section>
  
  <script>

    const addClassName = [
      'one',
      'two',
      'three',
      'four',
      'five',
      'six',
      'seven',
      'eight',
      'nine',
      'ten',
      'eleven',
      'twelve',
      'thirteen',
      'fourteen',
      'fifteen',
    ]

    function addClass() {
      const CONTAINER_CLASS = 'container'

      for (let i = 0; i < addClassName.length; i++) {
        
        const createSection = document.createElement('section');
        const createHeader = document.createElement('header')
        const createH1 = document.createElement('h1')

        createH1.innerText = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam illo delectus et exercitationem fugamolestiae.';

        createSection.className = CONTAINER_CLASS
        createSection.classList.add(addClassName[i])

        createSection.appendChild(createHeader)
        createHeader.appendChild(createH1)
        document.body.appendChild(createSection)


        // $("body").append('<section><header><h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam illo delectus et exercitationem fugamolestiae.</h1></header></section>')
        // $('section').addClass('container')
        // $('section').addClass(`${addClassName[i]}`)

      }
    }

    addClass()

    function lazyLoad() {
      let imgs = document.querySelectorAll('.container');

      if (window.scrollY == 0) {
        window.scrollTo({ top: imgs[1].offsetTop, behavior: 'smooth' });
      } else {

        for (let i = 0; i < imgs.length; i++) {
          if (window.scrollY >= imgs[i].offsetTop) {
            window.scrollTo({ top: imgs[i + 1].offsetTop, behavior: 'smooth' });
          }
        }
      }
    }

    const downBtn = document.querySelector('.downBtn')
    downBtn.addEventListener('click', lazyLoad)

  </script>
</body>

</html>