<div class="header_box">
  <header class="navbar_header">
    <div id="logo_box">
      <a href="/">
        <img
          src="/static/img/homepage/navbar/celebstars_logo.png"
          alt=""
          id="logo_img"
        />
      </a>
    </div>
    <nav id="navbar">
      <ul>
        <li><a href="/">캐스팅</a></li>
        <li><a href="/">매거진</a></li>
        <li><a href="/">미디어</a></li>
        <li><a href="/">커뮤니티</a></li>
      </ul>
    </nav>
    <div id="login_box">
      <ul>
        <li>
          <a href="">
            <img
              src="/static/img/homepage/navbar/login_icon.png"
              alt=""
              id="login_icon"
            />
          </a>
        </li>
        <li>
          <a href="">
            <img
              src="/static/img/homepage/navbar/q&a_icon.png"
              alt=""
              id="qa_icon"
            />
          </a>
        </li>
      </ul>
    </div>
  </header>
</div>
