<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .scrolling-words-container {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
  }

  .scrolling-words-box {
    height: 3rem;
    margin: auto;
    overflow: hidden;
    /* border: 1px solid #000; */
    padding: 4px 20px;
  }

  .unoderd-list {
    margin: 0 0.625rem;
    padding: 0;
    animation: scrollUp 10s infinite;
  }

  .ul-list-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    list-style: none;
  }

  .ul-list-text:nth-child(1),
  .ul-list-text:nth-child(5) {
    color: #ea4335
  }

  .ul-list-text:nth-child(2) {
    color: #4285f4
  }

  .ul-list-text:nth-child(3) {
    color: #34a853
  }

  .ul-list-text:nth-child(4) {
    color: #fbbc04
  }

  @keyframes scrollUp {

    15%,
    25% {
      transform: translateY(-20%);
    }

    40%,
    50% {
      transform: translateY(-40%);
    }

    65%,
    75% {
      transform: translateY(-60%);
    }

    90%,
    100% {
      transform: translateY(-80%);
    }
  }
</style>
</head>

<body>
<section class="scrolling-words-container">
  <div class="scrolling-words-box">
    <ul class="unoderd-list">
      <li class="ul-list-text">인증된 멤버쉽으로 안전하게.</li>
      <li class="ul-list-text">새로운 Artist가 매달 새롭게 추가.</li>
      <li class="ul-list-text">떠오르는 신예 배우</li>
      <li class="ul-list-text">새로운 모델 찾기 가능.</li>
      <li class="ul-list-text">인증된 멤버쉽으로 안전하게.</li>
    </ul>
  </div>
</section>
</body>
</html>