<div class="community_content" id="actor">
  <div class="actor_top">
    <div class="actor_length">
      <p>총 <span style="color: rgb(255, 89, 24)"><%= imax = 7%></span>건</p>
    </div>
    <div>
      <ul class="actor_search">
        <li><select name="" id="">
          <option value="">제목</option>
          <option value="">내용</option>
          <option value="">글쓴이</option>
        </select></li>
        <li><input type="text"></li>
        <li><button>검색</button></li>
      </ul>
    </div>
  </div>
  <div class="actor_post_box">
    <table class="actor_table">
      <tr class="table_title">
        <th class="actor_no">No</th>
        <th class="actor_title">제목</th>
        <th class="actor_author">글쓴이</th>
        <th class="actor_upload">날짜</th>
        <th class="actor_view">조회</th>
      </tr>
      <tr class="actor actor_notice">
        <td><img src="/static/img/community/exclamation.png" alt=""></td>
        <td class="actor_notice_title"><a href="#">배우 전용 게시판 공지사항입니다.</a></td>
        <td>셀럽스타즈</td>
        <td>2022-01-01</td>
        <td>0</th>
      </tr>
      <%for(var i=imax;i>0;i--) {%>
        <tr class="actor">
          <td class="actor_no"><%=i%></td>
          <td class="td_title"><a href="">제목</a></td>
          <td class="actor_author">글쓴이<%=i%></td>
          <td class="actor_upload">2022-01-0<%=i%></td>
          <td class="actor_view">0</th>
        </tr>
        <%}%>
    </table>
  </div>
  <div class="actor_page_nav">
    <nav>
      <ul class="pagination">
        <li class="actor_previous">
          <a href="#">
            <
          </a>
        </li>
        <li><a href="#">1</a></li>
        <li class="actor_next">
          <a href="#">
            >
          </a>
        </li>
      </ul>
    </nav>
    <div class="actor_btn_box">
      <button class="actor_btn"><a href="#">글쓰기</a></button>
    </div>
  </div>
</div>
