.faq_accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.faq_btn,
.faq_desc {
  padding: 10px 20px;
  text-align: left;
  width: 95%;
  background-color: white;
  outline: 0;
  border: 0;
}
.faq_btn {
  border-bottom: 1px solid lightgray;
  font-size: 20px;
}
.faq_desc {
  display: none;
}
.faq_desc.show {
  display: block;
}
