#wrap {
  width: 100%;
}
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: auto;
  align-items: center;
  margin-bottom: 50px;
}
.video {
  background-color: black;
}
.banner_img {
  width: 100%;
  height: auto;
}
.banner_img div img {
  width: 100%;
  height: auto;
  object-fit: fill;
}
#banner_box button span {
  width: 70px;
  height: 100px;
}
.main_box_2 {
  margin: auto;
  width: 1080px;
}
.casting_carousel {
  position: relative;
  height: 374px;
}
.casting_carousel button {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 40%;
}
.casting_carousel .casting_prev {
  margin-left: -20px;
}
.casting_carousel .casting_next {
  margin-right: -20px;
}
.casting_carousel button span {
  height: 70px;
  background-color: rgb(202, 208, 214);
  border-radius: 12px;
}
.magazine_title,
.casting_title {
  text-align: center;
  width: 100%;
  padding: 0 20px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 50px 10px -10px 10px;
  position: relative;
}
.magazine_title h2,
.casting_title h2 {
  color: black;
  font-weight: bold;
}
.magazine_title a,
.casting_title a {
  color: rgb(179, 179, 179);
  text-decoration: none;
  position: absolute;
  right: 10px;
}
.casting_box {
  margin: auto;
  width: 100%;
  height: 374px;
  display: flex;
  margin-top: 0;
}
.magazine_box {
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 0;
}
.casting_box .card {
  width: 100%;
  align-items: center;
  margin-top: auto;
}
.card-header {
  text-align: center;
  font-weight: bold;
}
.casting_box .card .casting_img {
  display: flex;
  align-items: center;
  height: 150px;
}
.casting_box a {
  text-decoration: none;
  color: black;
}
.casting_box div img {
  max-height: 150px;
  padding: 10px 10px;
}
.casting_box .card-body {
  height: 130px;
}
.casting_box .card-body,
.casting_box .card-footer {
  text-align: center;
}
.magazine_box .col .card {
  width: 100%;
  border-radius: 0.375rem;
  box-shadow: 3px 3px 9px 3px lightgray;
}
.magazine_box div .card a {
  text-decoration: none;
  color: black;
}
.magazine_box div .card img {
  height: 200px;
}
.magazine_box div .card a .card-body {
  overflow: hidden;
  height: 125px;
  text-align: center;
}
.casting_carousel_mob {
  display: none;
}
@media screen and (max-width: 770px) {
  #wrap {
    width: 100%;
  }
  .video {
    height: auto;
  }
  #banner_box {
    width: 100%;
  }
  .banner_img,
  .banner_img div img {
    height: auto;
  }
  .casting_box {
    height: 345px;
  }
  .casting_box .card .casting_img {
    display: flex;
    align-items: center;
    height: 100px;
  }
  .casting_box .card-body {
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: center;
    overflow: hidden;
  }
  .main_box_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 100%;
  }
  .magazine_title,
  .casting_title {
    width: 95vw;
  }
  .casting_carousel {
    width: 90vw;
  }
  .magazine_box {
    margin: auto;
    width: 95vw;
    flex-direction: row;
  }
  .magazine_box div .card .img_body {
    height: auto;
    overflow-y: hidden;
    display: flex;
  }
  .magazine_box div .card img {
    max-height: 450px;
    min-height: 300px;
  }
  .casting_carousel {
    display: none;
  }
  .casting_carousel_mob {
    padding: 20px;
    display: block;
    height: 360px;
  }
  .casting_carousel_mob button {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 45%;
  }
  .casting_carousel_mob button span {
    height: 70px;
    background-color: rgb(202, 208, 214);
    border-radius: 12px;
  }
}
