<div
  id="carouselExampleControlsNoTouching"
  class="casting_carousel carousel slide"
  data-bs-touch="false"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card-group casting_box">
        <div class="card">
          <a href="casting">
            <div class="card-header bg-transparent">
              <bigger class="text-muted">D - 30</bigger>
            </div>
            <div class="casting_img">
              <img
                src="/static/img/homepage/main/logo1.jpg"
                class="card-img-top"
                alt="..."
              />
            </div>
            <div class="card-body">
              <h5 class="card-title">FNC ENT.</h5>
              <p class="card-text">헤어에센스 제품 바이럴 광고</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">3분 전</small>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="casting">
            <div class="card-header bg-transparent">
              <bigger class="text-muted">D - 30</bigger>
            </div>
            <div class="casting_img">
              <img
                src="/static/img/homepage/main/logo2.jpg"
                class="card-img-top"
                alt="..."
              />
            </div>
            <div class="card-body">
              <h5 class="card-title">JYP ENT.</h5>
              <p class="card-text">주연 20대 중반 ~ 30대 초반 남/여역</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">3분 전</small>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="casting">
            <div class="card-header bg-transparent">
              <bigger class="text-muted">D - 30</bigger>
            </div>
            <div class="casting_img">
              <img
                src="/static/img/homepage/main/logo3.jpg"
                class="card-img-top"
                alt="..."
              />
            </div>
            <div class="card-body">
              <h5 class="card-title">SM ENT.</h5>
              <p class="card-text">구인구직글 개요</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">4분 전</small>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="casting">
            <div class="card-header bg-transparent">
              <bigger class="text-muted">D - 30</bigger>
            </div>
            <div class="casting_img">
              <img
                src="/static/img/homepage/main/logo4.jpg"
                class="card-img-top"
                alt="..."
              />
            </div>
            <div class="card-body">
              <h5 class="card-title">HYBE ENT.</h5>
              <p class="card-text">모바일 게임 여성 모델</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">4분 전</small>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="casting">
            <div class="card-header bg-transparent">
              <bigger class="text-muted">D - 30</bigger>
            </div>
            <div class="casting_img">
              <img
                src="/static/img/homepage/main/logo5.jpg"
                class="card-img-top"
                alt="..."
              />
            </div>
            <div class="card-body">
              <h5 class="card-title">YG ENT.</h5>
              <p class="card-text">주연 남자주인공역</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">4분 전</small>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card-group casting_box">
        <div class="card">
          <a href="casting">
            <div class="card-header bg-transparent">
              <bigger class="text-muted">D - 30</bigger>
            </div>
            <div class="casting_img">
              <img
                src="/static/img/homepage/main/logo3.jpg"
                class="card-img-top"
                alt="..."
              />
            </div>
            <div class="card-body">
              <h5 class="card-title">SM ENT.</h5>
              <p class="card-text">여성 의류 브랜드 FW시즌 룩북 촬영</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">5분 전</small>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="casting">
            <div class="card-header bg-transparent">
              <bigger class="text-muted">D - 30</bigger>
            </div>
            <div class="casting_img">
              <img
                src="/static/img/homepage/main/logo4.jpg"
                class="card-img-top"
                alt="..."
              />
            </div>
            <div class="card-body">
              <h5 class="card-title">HYBE ENT.</h5>
              <p class="card-text">단역 여자 단역 여자 중/고등학생 역역</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">5분 전</small>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="casting">
            <div class="card-header bg-transparent">
              <bigger class="text-muted">D - 30</bigger>
            </div>
            <div class="casting_img">
              <img
                src="/static/img/homepage/main/logo5.jpg"
                class="card-img-top"
                alt="..."
              />
            </div>
            <div class="card-body">
              <h5 class="card-title">YG ENT.</h5>
              <p class="card-text">어플 홍보 광고</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">7분 전</small>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="casting">
            <div class="card-header bg-transparent">
              <bigger class="text-muted">D - 30</bigger>
            </div>
            <div class="casting_img">
              <img
                src="/static/img/homepage/main/logo2.jpg"
                class="card-img-top"
                alt="..."
              />
            </div>
            <div class="card-body">
              <h5 class="card-title">JYP ENT.</h5>
              <p class="card-text">다이어트 유산균 SNS 협찬 광고</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">8분 전</small>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="casting">
            <div class="card-header bg-transparent">
              <bigger class="text-muted">D - 30</bigger>
            </div>
            <div class="casting_img">
              <img
                src="/static/img/homepage/main/logo2.jpg"
                class="card-img-top"
                alt="..."
              />
            </div>
            <div class="card-body">
              <h5 class="card-title">JYP ENT.</h5>
              <p class="card-text">뮤비 주연 여자주인공역</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">11분 전</small>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <button
    class="casting_prev carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleControlsNoTouching"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="casting_next carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleControlsNoTouching"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- mobile -->
<div
  id="carouselExampleControlsNoTouching1"
  class="casting_carousel_mob carousel slide"
  data-bs-touch="false"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card-group casting_box">
        <div class="card">
          <a href="casting">
            <div class="card-header bg-transparent">
              <bigger class="text-muted">D - 30</bigger>
            </div>
            <div class="casting_img">
              <img
                src="/static/img/homepage/main/logo1.jpg"
                class="card-img-top"
                alt="..."
              />
            </div>
            <div class="card-body">
              <h5 class="card-title">FNC ENT.</h5>
              <p class="card-text">헤어에센스 제품 바이럴 광고</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">3분 전</small>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="casting">
            <div class="card-header bg-transparent">
              <bigger class="text-muted">D - 30</bigger>
            </div>
            <div class="casting_img">
              <img
                src="/static/img/homepage/main/logo2.jpg"
                class="card-img-top"
                alt="..."
              />
            </div>
            <div class="card-body">
              <h5 class="card-title">JYP ENT.</h5>
              <p class="card-text">주연 20대 중반 ~ 30대 초반 남/여역</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">3분 전</small>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="casting">
            <div class="card-header bg-transparent">
              <bigger class="text-muted">D - 30</bigger>
            </div>
            <div class="casting_img">
              <img
                src="/static/img/homepage/main/logo3.jpg"
                class="card-img-top"
                alt="..."
              />
            </div>
            <div class="card-body">
              <h5 class="card-title">SM ENT.</h5>
              <p class="card-text">구인구직글 개요</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">4분 전</small>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="casting">
            <div class="card-header bg-transparent">
              <bigger class="text-muted">D - 30</bigger>
            </div>
            <div class="casting_img">
              <img
                src="/static/img/homepage/main/logo4.jpg"
                class="card-img-top"
                alt="..."
              />
            </div>
            <div class="card-body">
              <h5 class="card-title">HYBE ENT.</h5>
              <p class="card-text">모바일 게임 여성 모델</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">4분 전</small>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card-group casting_box">
        <div class="card">
          <a href="casting">
            <div class="card-header bg-transparent">
              <bigger class="text-muted">D - 30</bigger>
            </div>
            <div class="casting_img">
              <img
                src="/static/img/homepage/main/logo3.jpg"
                class="card-img-top"
                alt="..."
              />
            </div>
            <div class="card-body">
              <h5 class="card-title">SM ENT.</h5>
              <p class="card-text">여성 의류 브랜드 FW시즌 룩북 촬영</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">5분 전</small>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="casting">
            <div class="card-header bg-transparent">
              <bigger class="text-muted">D - 30</bigger>
            </div>
            <div class="casting_img">
              <img
                src="/static/img/homepage/main/logo4.jpg"
                class="card-img-top"
                alt="..."
              />
            </div>
            <div class="card-body">
              <h5 class="card-title">HYBE ENT.</h5>
              <p class="card-text">단역 여자 단역 여자 중/고등학생 역역</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">5분 전</small>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="casting">
            <div class="card-header bg-transparent">
              <bigger class="text-muted">D - 30</bigger>
            </div>
            <div class="casting_img">
              <img
                src="/static/img/homepage/main/logo5.jpg"
                class="card-img-top"
                alt="..."
              />
            </div>
            <div class="card-body">
              <h5 class="card-title">YG ENT.</h5>
              <p class="card-text">어플 홍보 광고</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">7분 전</small>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="casting">
            <div class="card-header bg-transparent">
              <bigger class="text-muted">D - 30</bigger>
            </div>
            <div class="casting_img">
              <img
                src="/static/img/homepage/main/logo2.jpg"
                class="card-img-top"
                alt="..."
              />
            </div>
            <div class="card-body">
              <h5 class="card-title">JYP ENT.</h5>
              <p class="card-text">다이어트 유산균 SNS 협찬 광고</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">8분 전</small>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <button
    class="casting_prev carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleControlsNoTouching1"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="casting_next carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleControlsNoTouching1"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
