<div class="magazine_box row row-cols-1 row-cols-md-4 g-3">
  <div class="col">
    <div class="card">
      <a href="/">
        <div class="img_body">
          <img
            src="/static/img/homepage/main/model1.jpg"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">우영우</h5>
          <p class="card-text">오픈 프로필 개요</p>
          <p>나이, 소속사, 주요 경력 한 줄 등</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <a href="/profile/kimtaehoon">
        <img
          src="/static/img/homepage/main/model2.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">김 태 훈</h5>
          <p class="card-text">오픈 프로필 개요</p>
          <p>나이, 소속사, 주요 경력 한 줄 등</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <a href="/profile/parkwhite">
        <img
          src="/static/img/homepage/main/model3.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">박 하 얀</h5>
          <p class="card-text">오픈 프로필 개요</p>
          <p>나이, 소속사, 주요 경력 한 줄 등</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <a href="/profile/jangmikwan">
        <img
          src="/static/img/homepage/main/model4.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">장 미 관</h5>
          <p class="card-text">오픈 프로필 개요</p>
          <p>나이, 소속사, 주요 경력 한 줄 등</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <a href="/profile/parkkwanwoo">
        <img
          src="/static/img/homepage/main/model5.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">박 관 우</h5>
          <p class="card-text">오픈 프로필 개요</p>
          <p>나이, 소속사, 주요 경력 한 줄 등</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <a href="/profile/hannana">
        <img
          src="/static/img/homepage/main/model6.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">한 나 나</h5>
          <p class="card-text">오픈 프로필 개요</p>
          <p>나이, 소속사, 주요 경력 한 줄 등</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <a href="/profile/kimbaekjin">
        <img
          src="/static/img/homepage/main/model7.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">김 백 진</h5>
          <p class="card-text">오픈 프로필 개요</p>
          <p>나이, 소속사, 주요 경력 한 줄 등</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <a href="/profile/choiseoah">
        <img
          src="/static/img/homepage/main/model8.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">최 서 아</h5>
          <p class="card-text">오픈 프로필 개요</p>
          <p>나이, 소속사, 주요 경력 한 줄 등</p>
        </div>
      </a>
    </div>
  </div>
</div>
