<!-- The Modal/Lightbox -->
<div id="img-modal" class="modal">
  <span class="modal-close cursor" onclick="closeModal('img')">&times;</span>
  <div class="modal-content">
    <!-- Next/previous controls -->
    <a class="prev" onclick="plusImgSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusImgSlides(1)">&#10095;</a>

    <!-- Caption text -->
  </div>
</div>
