<!-- The Modal/Lightbox -->
<div id="video-modal" class="modal">
  <span class="modal-close cursor" onclick="closeModal('video')">&times;</span>
  <div class="modal-content">
    <div class="myVideoSlides">
      <img src="/static/img/artistImg/hannana/main1.jpg" class="pictureSize" />
    </div>
    <div class="myVideoSlides">
      <img src="/static/img/artistImg/hannana/main2.jpg" class="pictureSize" />
    </div>
    <div class="myVideoSlides">
      <img src="/static/img/artistImg/hannana/main3.jpg" class="pictureSize" />
    </div>
    <div class="myVideoSlides">
      <img src="/static/img/artistImg/hannana/main4.jpg" class="pictureSize" />
    </div>
    <div class="myVideoSlides">
      <img src="/static/img/artistImg/hannana/main5.jpg" class="pictureSize" />
    </div>
    <div class="myVideoSlides">
      <img src="/static/img/artistImg/hannana/main6.jpg" class="pictureSize" />
    </div>
    <div class="myVideoSlides">
      <img src="/static/img/artistImg/hannana/main7.jpg" class="pictureSize" />
    </div>
    <div class="myVideoSlides">
      <img src="/static/img/artistImg/hannana/main8.jpg" class="pictureSize" />
    </div>
    <div class="myVideoSlides">
      <img src="/static/img/artistImg/hannana/main9.png" class="pictureSize" />
    </div>
    <div class="myVideoSlides">
      <img src="/static/img/artistImg/hannana/main10.jpg" class="pictureSize" />
    </div>
    <div class="myVideoSlides">
      <img src="/static/img/artistImg/hannana/main11.png" class="pictureSize" />
    </div>
    <!-- Next/previous controls -->
    <a class="prev" onclick="plusVideoSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusVideoSlides(1)">&#10095;</a>

    <!-- Caption text -->
  </div>
</div>
