<link href="/static/css/navbar/style.css" rel="stylesheet" />

<div class="nav-body">
  <div class="header_box">
    <header class="navbar_header">
      <div class="logo_box">
        <a href="/">
          <img
            src="/static/img/homepage/navbar/celebstars_logo.png"
            alt=""
            id="logo_img"
          />
        </a>
      </div>
      <nav class="navbar">
        <ul>
          <li><a href="/casting">캐스팅</a></li>
          <li><a href="/">매거진</a></li>
          <li><a href="/">커뮤니티</a></li>
          <li><a href="/customersupport">고객지원</a></li>
        </ul>
      </nav>
      <div class="login_box">
        <ul>
          <li>
            <a href="/profile">
              <img
                src="/static/img/homepage/navbar/login_icon.png"
                alt=""
                class="login_icon"
              />
            </a>
          </li>
          <li>
            <a href="customersupport">
              <img
                src="/static/img/homepage/navbar/q&a_icon.png"
                alt=""
                class="qa_icon"
              />
            </a>
          </li>
        </ul>
      </div>
    </header>
  </div>
  <nav class="navbar_mob">
    <ul>
      <li><a href="/">캐스팅</a></li>
      <li><a href="/">매거진</a></li>
      <li><a href="/">커뮤니티</a></li>
      <li><a href="/customersupport">고객지원</a></li>
    </ul>
  </nav>
</div>
