:root {
  --text-color: #fff;
}

.magazine_body {
  box-sizing: border-box;
  font-size: 10px;
  margin: 0;
}

.magazine_body::-webkit-scrollbar {
  display: none;
}

.magazine_container {
  width: 100vw;
  height: 100vh;
  padding: 0;
  position: relative;
}

/* 메인(첫)이미지 */
.main_img {
  width: 100%;
  height: 100vh;
  position: relative;
}

.artist_name {
  position: absolute;
  right: 0;
  bottom: 0;

  color: var(--text-color);
  font-size: 40px;
  padding: 1em;
}

/* 이미지마다 적용 될 필터 */
.img_filter {
  height: 100vh;

  backdrop-filter: blur(4px);
  
  position: relative;
}

.posting_img_wrapper {
  width: 100vw;
  height: 100vh;

  display: grid;
  position: relative;
}

.double_page {
  grid-template-columns: repeat(2, 1fr);
}

/* 아티스트 인포 래퍼 설정 */
.artist_info_wrapper {
  position: absolute;
  top: 0;
  color: var(--text-color);
}

/* 왼쪽에 프로필 사진이 있고 오른쪽에 정보 */
.left {
  left: 0;
  width: calc(100% - 70%);
}

/* 오른쪽에 프로필 사진이 있고 왼쪽에 정보 */
.right {
  right: 0;
  width: calc(100% - 70%);
}

.artist_info {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  font-size: 20px;
  height: 100vh;
}

.info_text {
  padding: .5em;
}

.artist_career {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.career_wrapper {
  font-size: 10px;
}

.career_title {
  font-size: 20px;
  padding: 1em 1em 1em 0;
}

.career_content {
  padding-bottom: 4px;
}

.last_grid_wrapper {
  display: grid;
  height: inherit;
  grid-template-rows: 70% 20% 10%;
}

.magazine_posting_img_last {
  width: 80%;
  height: 100%;
  margin: auto;
}

.social_wrapper {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.social_list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social_text {
  text-decoration: none;
  color: var(--text-color);
  padding-left: 8px;
  display: none;
}

.to_the_top {
  color: var(--text-color);

  position: absolute;
  left: 50%;
  bottom: 1em;
  font-size: 20px;

  transform: translate(-50%, -1em) rotate(180deg);
}

.close_button {
  position: fixed;
  margin: 20px;
  top: 0;
  right: 0;

  z-index: 1;
}

.button_down {
  position: fixed;
  padding: 20px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

}

#closeBtn {
  font-size: 40px;
  border: 0;
  background: transparent;
  color: white;
}


@media screen and (min-width: 768px) {
  .artist_name {
    font-size: 60px;
  }
  .info_text {
    font-size: 28px;
  }
  .career_wrapper {
    font-size: 20px;
  }
  
  .left {
    left: 0;
    width: calc(100% - 60%);
  }

  .right {
    right: 0;
    width: calc(100% - 60%);
  }

  .artist_career {
    flex-flow: row;
  }
  .career_title {
    font-size: 28px;
    padding: 1em 1em 0.25em 0;
  }
  .social_text {
    text-decoration: none;
    color: var(--text-color);
    padding-left: 8px;
    display: block;
  }

}
@media screen and (min-width: 1024px) {
  .artist_career {
    height: 100%;
  }
  .artist_name {
    font-size: 80px;
  }

  .info_text {
    font-size: 36px;
  }
  .social_text {
    text-decoration: none;
    font-size: 16px;
    color: var(--text-color);
    padding: 1em;
    display: block;
  }
}