
.magazine_bg_img {
  background: url(../../img/artistImg/김백진/메인.jpeg) no-repeat center/100% 100% fixed;
}
.magazine_posting_img2 {
  background: url(../../img/artistImg/김백진/image0.jpeg) left / 70% 100% no-repeat fixed;
}
.magazine_posting_img3 {
  background: url(../../img/artistImg/김백진/image1.jpeg) center / 100% 100% no-repeat fixed;
}
.magazine_posting_img4 {
  background: url(../../img/artistImg/김백진/image2.jpeg) left / 70% 100% no-repeat fixed;
}
.magazine_posting_img5 {
  background: url(../../img/artistImg/김백진/image3.jpeg) right / 70% 100% no-repeat fixed;
}
.magazine_posting_img6 {
  background: url(../../img/artistImg/김백진/image4.jpeg) left / 70% 100% no-repeat fixed;
}
.magazine_posting_img7 {
  background: url(../../img/artistImg/김백진/image5.jpeg) center / 100% 100% no-repeat fixed;
}
.magazine_posting_img8 {
  background: url(../../img/artistImg/김백진/image6.jpeg) center / 100% 100% no-repeat fixed;
}
.magazine_posting_img9 {
  background: url(../../img/artistImg/김백진/image7.jpeg) left / 50% 100% no-repeat fixed;
}
.magazine_posting_img10 {
  background: url(../../img/artistImg/김백진/image9.jpeg) right / 50% 100% no-repeat fixed;
}
.magazine_posting_img11 {
  background: url(../../img/artistImg/김백진/image11.jpeg) left / 70% 100% no-repeat fixed;
}
.magazine_posting_img12 {
  background: url(../../img/artistImg/김백진/image10.jpeg) right / 70% 100% no-repeat fixed;
}
.magazine_posting_img13 {
  background: url(../../img/artistImg/김백진/image12.jpeg) center / 100% 100% no-repeat fixed;
}
.magazine_posting_img14 {
  background: url(../../img/artistImg/김백진/image13.jpeg) center / 100% 100% no-repeat fixed;
}
.magazine_posting_img_last {
  background: url(../../img/artistImg/김백진/image14.jpeg) center / 80% 80% no-repeat fixed;
}


@media screen and (min-width: 769px) {
  .magazine_posting_img3 {
    background: url(../../img/artistImg/김백진/image1.jpeg) center / 70% 100% no-repeat fixed;
  }
  .magazine_posting_img7 {
    background: url(../../img/artistImg/김백진/image5.jpeg) center / 80% 100% no-repeat fixed;
  }
  .magazine_posting_img8 {
    background: url(../../img/artistImg/김백진/image6.jpeg) center / 80% 100% no-repeat fixed;
  }
  .magazine_posting_img11 {
    background: url(../../img/artistImg/김백진/image11.jpeg) left / 50% 100% no-repeat fixed;
  }
  .magazine_posting_img12 {
    background: url(../../img/artistImg/김백진/image10.jpeg) right / 50% 100% no-repeat fixed;
  }
  .magazine_posting_img_last {
    background: url(../../img/artistImg/김백진/image14.jpeg) center / 70% 70% no-repeat fixed;
  }
}

@media screen and (min-width: 1280px) {
  .magazine_posting_img3 {
    background: url(../../img/artistImg/김백진/image1.jpeg) center / 60% 100% no-repeat fixed;
  }
  .magazine_posting_img7 {
    background: url(../../img/artistImg/김백진/image5.jpeg) center / 60% 100% no-repeat fixed;
  }
  .magazine_posting_img8 {
    background: url(../../img/artistImg/김백진/image6.jpeg) center / 60% 100% no-repeat fixed;
  }
  .magazine_posting_img13 {
    background: url(../../img/artistImg/김백진/image12.jpeg) center / 60% 100% no-repeat fixed;
  }
  .magazine_posting_img14 {
    background: url(../../img/artistImg/김백진/image13.jpeg) center / 60% 100% no-repeat fixed;
  }
  .magazine_posting_img_last {
    background: url(../../img/artistImg/김백진/image14.jpeg) center / 60% 100% no-repeat fixed;
  }
}
