.li {
  list-style: none;
  color: #000;
}

.a {
  color: #000;
}

.hidden {
  display: none;
}

.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container_box {
  max-width: 1280px;
  min-height: 100vh;
  position: relative;
  margin: 0 auto;
  font-size: 10px;
  overflow: hidden;
  /* background-color: rgba(0, 0, 0, 1); */
}

.body::-webkit-scrollbar {
  display: none;
}

/* 버튼 */
.wrapper_buttons {
  width: 100%;
  position: relative;
  z-index: 1;
}

.button {
  position: fixed;
  width: 2.5em;

}

.close {
  right: 0;
  top: 2em;
  margin: 20px;
  text-align: center;
  transform: translate(-2.5em, -2em);

}

.close_button_value {
  font-size: 2.5em;
  padding: 0;
  border: 0;
  background: transparent;
  color: #fff;
}

.down {
  bottom: 2.5em;
  left: 50%;
  transform: translateX(-50%);
}

.toTheTop {
  position: absolute;
  
  bottom: 0;
  left: 50%;

  font-size: 20px;
  margin: 10px;
  padding: 10px;
  transform: translate(-50%, 0);
}

.toTheTop:hover {
  cursor: pointer;
  /* border: 1px solid #000; */
}

.toTheTopIcon {
  transform: rotate(180deg);
  filter: invert(1);
}
  
/* BG imgs 공통 */
.img_wrapper,
.page_one,
.page_two,
.page_three,
.page_four,
.page_five,
.page_six,
.page_seven,
.page_eight,
.page_nine,
.page_ten,
.two_img,
.four_img,
.five_img,
.six_img,
.nine_img,
.ten_img,
.eleven_img,
.twelve_img {
  width: 100%;
  height: 100vh;
}

.page_one {
  background: url('/static/img/artistImg/김백진/메인.jpeg') center no-repeat fixed;
  background-size: 100% 100%;
  position: relative;
}

.page_three {
  background: url('/static/img/artistImg/김백진/image1.jpeg') center no-repeat fixed;
  background-size: 100% 100%;
}

.page_seven {
  background: url('/static/img/artistImg/김백진/image5.jpeg') center no-repeat fixed;
  background-size: 100% 100%;
}

.page_eight {
  background: url('/static/img/artistImg/김백진/image6.jpeg') center no-repeat fixed;
  background-size: 100% 100%;
}

.page_eleven {
  background: url('/static/img/artistImg/김백진/image12.jpeg') center no-repeat fixed;
  background-size: 100% 100%;
}

.page_twelve {
  background: url('/static/img/artistImg/김백진/image13.jpeg') center no-repeat fixed;
  background-size: 100% 100%;
}

.two_img {
  background: url('/static/img/artistImg/김백진/image0.jpeg') no-repeat fixed;
  background-size: calc(100% - 30%) 100%;
}

.four_img {
  background: url('/static/img/artistImg/김백진/image2.jpeg') no-repeat fixed;
  background-size: calc(100% - 30%) 100%;
}

.five_img {
  background: url('/static/img/artistImg/김백진/image3.jpeg') right no-repeat fixed;
  background-size: calc(100% - 30%) 100%;
}

.six_img {
  background: url('/static/img/artistImg/김백진/image4.jpeg') no-repeat fixed;
  background-size: calc(100% - 30%) 100%;
}

.nine_img {
  background: url('/static/img/artistImg/김백진/image7.jpeg') no-repeat fixed;
  background-size: calc(100% - 50%) 100%;
}

.ten_img {
  background: url('/static/img/artistImg/김백진/image9.jpeg') right no-repeat fixed;
  background-size: calc(100% - 50%) 100%;
}

.eleven_img {
  background: url('/static/img/artistImg/김백진/image10.jpeg') left no-repeat fixed;
  background-size: calc(100% - 40%) 100%;
}

.twelve_img {
  background: url('/static/img/artistImg/김백진/image11.jpeg') right no-repeat fixed;
  background-size: calc(100% - 40%) 100%;
}

.last_fifteen_img {
  background: url('/static/img/artistImg/김백진/image14.jpeg') center no-repeat;
  background-size: 100% 100%
}

/* 화면 분리 CSS */
.page_two,
.page_four,
.page_six {
  display: grid;
  grid-template-columns: 70% 30%;
}

.page_five {
  display: grid;
  grid-template-columns: 30% 70%;
}

.page_nine {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.page_ten {
  position: relative;
}

.page_last_thirteen {
  height: 100vh;
  margin: 2em;
  display: grid;
  grid-template-rows: 70% 20%;
}

.eleven_img,
.twelve_img {
  position: absolute;
  height: 55%;
  margin: 1em;
}

.eleven_img {
  top: 0;
  left: 0;
  z-index: 1;
}

.twelve_img {
  right: 0;
  bottom: 0;
  z-index: 0;
}

.last_fifteen_img {
  width: 100%;
  height: 100%;
}

/* 분리된 화면 속 아이템들 CSS */
.user_name {
  position: absolute;
  font-size: 6em;
  color: #fff;
  right: 1em;
  bottom: 1em;
  transform: translate(-.5em, -.5em);
}


.model_info {
  /* wrapper_form */
  font-size: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 2em;
  gap: 2em;

  background-color: gray;
  color: #fff;
}
@media screen and (max-width: 620px) {
  .model_info {
    padding: 1em;
  }
}

.model_career {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.model_career_details {
  padding: 3em;
  display: grid;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;

  margin-bottom: 2em;
  padding: 0;
}

.social_info {
  display: flex;
  align-items: center;
}

.info_item {
  border: 1px solid #000;
  padding: 1em;
  margin-left: 1em;
}

@media screen and (max-width: 768px) {
  .info_item {
    display: none
  }
}