:root {
  --posting-img-main: url(../../img/artistImg/박관우/027767EC-758B-4B59-8331-390FD02A109A.jpeg);
  --posting-img-01: url(../../img/artistImg/박관우/0DFC755D-8F64-4FFB-8502-4E92B64A9713.jpeg);
  --posting-img-02: url(../../img/artistImg/박관우/17B33F96-E39A-4EFE-8F1E-4240FBF6A7EB.jpeg);
  --posting-img-03: url(../../img/artistImg/박관우/19B9DC00-7E47-49D9-86EA-B682329FE200.jpeg);
  --posting-img-04: url(../../img/artistImg/박관우/1D1DEBB5-35DD-4F4A-BF6A-BA1BC00328D9.jpeg);
  --posting-img-05: url(../../img/artistImg/박관우/4D085B94-9180-4027-B738-7E42E3B34CBF.jpeg);
  --posting-img-06: url(../../img/artistImg/박관우/73AC2B46-97D0-4BE4-BE12-E8EDE4E4CA9D.jpeg);
  --posting-img-07: url(../../img/artistImg/박관우/8E1155F1-1270-4DA7-A26C-C5708FE5A81E.jpeg);
  --posting-img-08: url(../../img/artistImg/박관우/8E1155F1-1270-4DA7-A26C-C5708FE5A81E.jpeg);
  --posting-img-09: url(../../img/artistImg/박관우/92A34044-55AD-45F9-A8F9-682BFD836183.jpeg);
  --posting-img-10: url(../../img/artistImg/박관우/9EAE5BF4-1A5E-4392-B9D6-4A0F0B245D2E.jpeg);
  --posting-img-11: url(../../img/artistImg/박관우/A3BD2538-9758-4015-92B4-63993BF17F2A.jpeg);
  --posting-img-12: url(../../img/artistImg/박관우/BDB11E1F-A096-4083-8839-381997B9E621.jpeg);
  --posting-img-13: url(../../img/artistImg/박관우/DFFC8A40-75B6-4453-82AB-3C1570716D30.jpeg);
  --posting-img-14: url(../../img/artistImg/박관우/E81F0FEC-51AB-4508-97CF-B0FB8CBE0279.jpeg);
}

.magazine_bg_img {
  background: var(--posting-img-main) no-repeat fixed center / 100% 100%;
}

.magazine_posting_img2 {
  background: var(--posting-img-01) no-repeat fixed left / 70% 100%;
}

.magazine_posting_img3 {
  background: var(--posting-img-02) no-repeat fixed center / 100% 100%;
}

.magazine_posting_img4 {
  background: var(--posting-img-03) no-repeat fixed left / 70% 100%;
}

.magazine_posting_img5 {
  background: var(--posting-img-04) no-repeat fixed right / 70% 100%;
}

.magazine_posting_img6 {
  background: var(--posting-img-05) no-repeat fixed left / 70% 100%;
}

.magazine_posting_img7 {
  background: var(--posting-img-06) no-repeat fixed center / 100% 100%;
}

.magazine_posting_img8 {
  background: var(--posting-img-07) no-repeat fixed center / 100% 100%;
}

.magazine_posting_img9 {
  background: var(--posting-img-08) no-repeat fixed left / 50% 100%;
}

.magazine_posting_img10 {
  background: var(--posting-img-09) no-repeat fixed right / 50% 100%;
}

.magazine_posting_img11 {
  background: var(--posting-img-10) no-repeat fixed left / 70% 100%;
}

.magazine_posting_img12 {
  background: var(--posting-img-11) no-repeat fixed right / 70% 100%;
}

.magazine_posting_img13 {
  background: var(--posting-img-12) no-repeat fixed center / 100% 100%;
}

.magazine_posting_img14 {
  background: var(--posting-img-13) no-repeat fixed center / 100% 100%;
}

.magazine_posting_img_last {
  background: var(--posting-img-14) no-repeat fixed center / 80% 80%;
}


@media screen and (min-width: 769px) {
  .magazine_posting_img2 {
    background: var(--posting-img-01) no-repeat fixed left / 60% 100%;
  }
  .magazine_posting_img3 {
    background: var(--posting-img-02) no-repeat fixed center / 60% 100%;
  }

  .magazine_posting_img4 {
    background: var(--posting-img-03) no-repeat fixed left / 60% 100%;
  }
  .magazine_posting_img5 {
    background: var(--posting-img-04) no-repeat fixed right / 60% 100%;
  }
  .magazine_posting_img6 {
    background: var(--posting-img-05) no-repeat fixed left / 60% 100%;
  }
  .magazine_posting_img7 {
    background: var(--posting-img-06) no-repeat fixed center / 70% 100%;
  }

  .magazine_posting_img8 {
    background: var(--posting-img-07) no-repeat fixed center / 70% 100%;
  }

  .magazine_posting_img11 {
    background: var(--posting-img-10) no-repeat fixed left / 50% 100%;
  }

  .magazine_posting_img12 {
    background: var(--posting-img-11) no-repeat fixed right / 50% 100%;
  }

  .magazine_posting_img13 {
    background: var(--posting-img-12) no-repeat fixed center / 60% 100%;
  }

  .magazine_posting_img14 {
    background: var(--posting-img-13) no-repeat fixed center / 60% 100%;
  }

  .magazine_posting_img_last {
    background: var(--posting-img-14) no-repeat fixed center / 60% 70%;
  }
}

@media screen and (min-width: 1024px) {
  .magazine_posting_img3 {
    background: var(--posting-img-02) no-repeat fixed center / 50% 100%;
  }

  .magazine_posting_img7 {
    background: var(--posting-img-06) no-repeat fixed center / 50% 100%;
  }

  .magazine_posting_img8 {
    background: var(--posting-img-07) no-repeat fixed center / 50% 100%;
  }

  .magazine_posting_img13 {
    background: var(--posting-img-12) no-repeat fixed center / 50% 100%;
  }

  .magazine_posting_img14 {
    background: var(--posting-img-13) no-repeat fixed center / 50% 100%;
  }

  .magazine_posting_img_last {
    background: var(--posting-img-14) no-repeat fixed center / 50% 100%;
  }
}