.nav-body {
  margin: 0;
  padding-top: 100px;
}
#wrap {
  margin: auto;
  display: flex;
  flex-direction: column;
}
/* header부분 */
.header_box {
  width: 100vw;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid lightgray;
  background-color: white;
}
.navbar_header {
  margin: 0 50px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo_box a img {
  width: 200px;
  height: 100%;
}
.navbar {
  width: auto;
  height: 40px;
  margin-top: 20px;
}
.navbar ul {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
}
.navbar ul li {
  display: flex;
  justify-content: center;
  white-space: nowrap;
}
.navbar li a {
  text-decoration: none;
  color: black;
  font-size: 22px;
  font-weight: bold;
  padding: 5px 10px 5px 10px;
}
.navbar li a:hover {
  font-size: 25px;
}
.login_box {
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.login_box ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-right: 20px;
}
.login_box ul li {
  list-style: none;
  display: inline-block;
}
.login_icon {
  width: 25px;
}
.qa_icon {
  width: 35px;
}
.navbar_mob {
  display: none;
  background-color: black;
  height: 35px;
  width: 100%;
}
.navbar_mob li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 10px 5px 10px;
}
@media screen and (max-width: 770px) {
  .navbar_header {
    margin: 0 20px;
  }
  .logo_box a img {
    width: 200px;
    height: 100%;
    margin-left: 10px;
  }
  .login_icon {
    width: 22px;
  }
  .qa_icon {
    width: 32px;
  }
  .navbar {
    display: none;
  }
  .navbar_mob {
    display: flex;
    justify-content: space-around;
  }
  .navbar_mob ul {
    display: flex;
    flex-direction: row;
  }
  .navbar_mob li {
    font-size: 20px;
    margin: 0px 20px;
  }
}
