:root {
  --celeb_color: #092063;
}
* {
  margin: 0;
}
body {
  margin: 0;
}
header,
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
}
li {
  list-style: none;
  display: inline-block;
}
a {
  text-decoration: none;
}
/* header부분 */
header {
  margin: auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
  border-bottom: 1px solid lightgray;
}
#logo_Box a img {
  width: 250px;
  height: 100%;
}
#navBar {
  width: auto;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
#navBar ul {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-left: -40px;
  gap: 20px;
}
#navBar ul li {
  display: block;
}
#navBar li a {
  text-decoration: none;
  color: black;
  font-size: 23px;
  font-weight: bold;
  padding: 5px 10px 5px 10px;
}
#navBar li a:hover {
  font-size: 25px;
}
#login_Box {
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
#login_Box ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-right: 20px;
}
#login_Box a {
  text-decoration: none;
}
#login_Icon {
  width: 25px;
}
#qa_Icon {
  width: 35px;
}
#navBar_Mob {
  display: none;
  background-color: var(--celeb_color);
  height: 30px;
}
#navBar_Mob li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 10px 5px 10px;
}
@media screen and (max-width: 768px) {
  #logo_Box a img {
    width: 200px;
    height: 100%;
  }
  #login_Icon {
    width: 22px;
  }
  #qa_Icon {
    width: 32px;
  }
  #navBar {
    display: none;
  }
  #navBar_Mob {
    display: block;
  }
  header {
    border: none;
  }
}

/* main부분 */
main {
  /* background-color: lightgrey; */
}

/* footer부분 */
footer {
  background-color: lightgrey;
  height: 58px;
}
