<section class="auto_slide_container">
  <article class="carousel_continer">
    <div class="rolling_wrap">
      <a class="content" href="profile/choiseoah">
        <img src="static/img/artistImg/choiseoah/main3.jpg" />
      </a>
      <a class="content" href="profile/hannana">
        <img src="static/img/artistImg/hannana/main1.jpg" />
      </a>
      <a class="content" href="profile/jangmikwan">
        <img src="static/img/artistImg/jangmikwan/main1.jpg" />
      </a>
      <a class="content" href="profile/kimbaekjin">
        <img src="static/img/artistImg/kimbaekjin/main9.jpeg" />
      </a>
      <a class="content" href="profile/kimtaehoon">
        <img src="static/img/artistImg/kimtaehoon/main1.jpg" />
      </a>
      <a class="content" href="profile/parkkwanwoo">
        <img src="static/img/artistImg/parkkwanwoo/main0.jpeg" />
      </a>
      <a class="content" href="profile/parkwhite">
        <img src="static/img/artistImg/parkwhite/main0.jpg" />
      </a>

      <a class="content" href="profile/hannana">
        <img src="static/img/artistImg/hannana/main3.jpg" />
      </a>
      <a class="content" href="profile/jangmikwan">
        <img src="static/img/artistImg/jangmikwan/main3.jpg" />
      </a>
      <a class="content" href="profile/kimbaekjin">
        <img src="static/img/artistImg/kimbaekjin/main3.jpeg" />
      </a>
      <a class="content" href="profile/kimtaehoon">
        <img src="static/img/artistImg/kimtaehoon/main2.jpg" />
      </a>
      <a class="content" href="profile/parkkwanwoo">
        <img src="static/img/artistImg/parkkwanwoo/main3.jpeg" />
      </a>
      <a class="content" href="profile/parkwhite">
        <img src="static/img/artistImg/parkwhite/main1.jpg" />
      </a>
    </div>
  </article>
</section>
