<div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 g-4">
  <div class="col">
    <a href="/profile/choiseoah">
      <div class="card h-100">
        <i class="card-bookmark bi bi-bookmark"></i>
        <div class="card-top-cover">
          <img
            loading="lazy"
            src="/static/img/artistImg/choiseoah/main12.jpg"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">최서아</h5>
          <p class="card-text">하이브</p>
          <p class="card-location">서울</p>
          <p class="card-tag">
            <span>여성</span>
            <span>20대</span>
          </p>
        </div>
      </div>
    </a>
  </div>
  <div class="col">
    <a href="/profile/hannana">
      <div class="card h-100">
        <i class="card-bookmark bi bi-bookmark"></i>
        <div class="card-top-cover">
          <img
            loading="lazy"
            src="/static/img/artistImg/hannana/main1.jpg"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">한나나</h5>
          <p class="card-text">하이브</p>
          <p class="card-location">서울</p>
          <p class="card-tag">
            <span>여성</span>
            <span>20대</span>
            <span>30대</span>
          </p>
        </div>
      </div>
    </a>
  </div>
  <div class="col">
    <a href="/profile/jangmikwan">
      <div class="card h-100">
        <i class="card-bookmark bi bi-bookmark"></i>
        <div class="card-top-cover">
          <img
            loading="lazy"
            src="/static/img/artistImg/jangmikwan/main1.jpg"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">장미관</h5>
          <p class="card-text">FNC</p>
          <p class="card-location">서울</p>
          <p class="card-tag">
            <span>남성</span>
            <span>30 이상</span>
          </p>
        </div>
      </div>
    </a>
  </div>
  <div class="col">
    <a href="/profile/kimbaekjin">
      <div class="card h-100">
        <i class="card-bookmark bi bi-bookmark"></i>
        <div class="card-top-cover">
          <img
            loading="lazy"
            src="/static/img/artistImg/kimbaekjin/main1.jpeg"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">김백진</h5>
          <p class="card-text">FNC</p>
          <p class="card-location">서울</p>
          <p class="card-tag">
            <span>남성</span>
            <span>30 이상</span>
          </p>
        </div>
      </div>
    </a>
  </div>

  <div class="col">
    <a href="/profile/kimtaehoon">
      <div class="card h-100">
        <i class="card-bookmark bi bi-bookmark"></i>
        <div class="card-top-cover">
          <img
            loading="lazy"
            src="/static/img/artistImg/kimtaehoon/main1.jpg"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">김태훈</h5>
          <p class="card-text">FNC</p>
          <p class="card-location">서울</p>
          <p class="card-tag">
            <span>여성</span>
            <span>30 이상</span>
          </p>
        </div>
      </div>
    </a>
  </div>
  <div class="col">
    <a href="/profile/parkkwanwoo">
      <div class="card h-100">
        <i class="card-bookmark bi bi-bookmark"></i>
        <div class="card-top-cover">
          <img
            loading="lazy"
            src="/static/img/artistImg/parkkwanwoo/main0.jpeg"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">박관우</h5>
          <p class="card-text">JYP</p>
          <p class="card-location">서울</p>
          <p class="card-tag">
            <span>남성</span>
            <span>20대</span>
          </p>
        </div>
      </div>
    </a>
  </div>
  <div class="col">
    <a href="/profile/parkwhite">
      <div class="card h-100">
        <i class="card-bookmark bi bi-bookmark"></i>
        <div class="card-top-cover">
          <img
            loading="lazy"
            src="/static/img/artistImg/parkwhite/main0.jpg"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">박하얀</h5>
          <p class="card-text">SM</p>
          <p class="card-location">서울</p>
          <p class="card-tag">
            <span>여성</span>
            <span>20대</span>
          </p>
        </div>
      </div>
    </a>
  </div>
  <div class="col">
    <a href="">
      <div class="card h-100">
        <i class="card-bookmark bi bi-bookmark"></i>
        <div class="card-top-cover">
          <img
            loading="lazy"
            src="/static/img/artistImg/openprofile0.jpg"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">권은비</h5>
          <p class="card-text">SM</p>
          <p class="card-location">서울</p>
          <p class="card-tag">
            <span>여성</span>
            <span>20대</span>
          </p>
        </div>
      </div>
    </a>
  </div>
  <div class="col">
    <a href="">
      <div class="card h-100">
        <i class="card-bookmark bi bi-bookmark"></i>
        <div class="card-top-cover">
          <img
            loading="lazy"
            src="/static/img/artistImg/openprofile1.jpg"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">아이유</h5>
          <p class="card-text"></p>
          <p class="card-location">서울</p>
          <p class="card-tag">
            <span>여성</span>
            <span>30대</span>
          </p>
        </div>
      </div>
    </a>
  </div>
  <div class="col">
    <a href="">
      <div class="card h-100">
        <i class="card-bookmark bi bi-bookmark"></i>
        <div class="card-top-cover">
          <img
            loading="lazy"
            src="/static/img/artistImg/openprofile2.jpg"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">제니</h5>
          <p class="card-text">YG</p>
          <p class="card-location">서울</p>
          <p class="card-tag">
            <span>여성</span>
            <span>20대</span>
          </p>
        </div>
      </div>
    </a>
  </div>
  <div class="col">
    <a href="">
      <div class="card h-100">
        <i class="card-bookmark bi bi-bookmark"></i>
        <div class="card-top-cover">
          <img
            loading="lazy"
            src="/static/img/artistImg/openprofile3.jpg"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">카리나</h5>
          <p class="card-text">SM</p>
          <p class="card-location">서울</p>
          <p class="card-tag">
            <span>여성</span>
            <span>20대</span>
          </p>
        </div>
      </div>
    </a>
  </div>
  <div class="col">
    <a href="/profile/choiseoah">
      <div class="card h-100">
        <i class="card-bookmark bi bi-bookmark"></i>
        <div class="card-top-cover">
          <img
            loading="lazy"
            src="/static/img/artistImg/choiseoah/main11.jpg"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">최서아</h5>
          <p class="card-text">하이브</p>
          <p class="card-location">서울</p>
          <p class="card-tag">
            <span>여성</span>
            <span>20대</span>
          </p>
        </div>
      </div>
    </a>
  </div>
  <div class="col">
    <a href="/profile/hannana">
      <div class="card h-100">
        <i class="card-bookmark bi bi-bookmark"></i>
        <div class="card-top-cover">
          <img
            loading="lazy"
            src="/static/img/artistImg/hannana/main2.jpg"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">한나나</h5>
          <p class="card-text">하이브</p>
          <p class="card-location">서울</p>
          <p class="card-tag">
            <span>여성</span>
            <span>20대</span>
            <span>30대</span>
          </p>
        </div>
      </div>
    </a>
  </div>
  <div class="col">
    <a href="/profile/jangmikwan">
      <div class="card h-100">
        <i class="card-bookmark bi bi-bookmark"></i>
        <div class="card-top-cover">
          <img
            loading="lazy"
            src="/static/img/artistImg/jangmikwan/main2.jpg"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">장미관</h5>
          <p class="card-text">FNC</p>
          <p class="card-location">서울</p>
          <p class="card-tag">
            <span>남성</span>
            <span>30 이상</span>
          </p>
        </div>
      </div>
    </a>
  </div>
  <div class="col">
    <a href="/profile/kimbaekjin">
      <div class="card h-100">
        <i class="card-bookmark bi bi-bookmark"></i>
        <div class="card-top-cover">
          <img
            loading="lazy"
            src="/static/img/artistImg/kimbaekjin/main2.jpeg"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">김백진</h5>
          <p class="card-text">FNC</p>
          <p class="card-location">서울</p>
          <p class="card-tag">
            <span>남성</span>
            <span>30 이상</span>
          </p>
        </div>
      </div>
    </a>
  </div>

  <div class="col">
    <a href="/profile/kimtaehoon">
      <div class="card h-100">
        <i class="card-bookmark bi bi-bookmark"></i>
        <div class="card-top-cover">
          <img
            loading="lazy"
            src="/static/img/artistImg/kimtaehoon/main2.jpg"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">김태훈</h5>
          <p class="card-text">FNC</p>
          <p class="card-location">서울</p>
          <p class="card-tag">
            <span>여성</span>
            <span>30 이상</span>
          </p>
        </div>
      </div>
    </a>
  </div>
  <div class="col">
    <a href="/profile/parkkwanwoo">
      <div class="card h-100">
        <i class="card-bookmark bi bi-bookmark"></i>
        <div class="card-top-cover">
          <img
            loading="lazy"
            src="/static/img/artistImg/parkkwanwoo/main2.jpeg"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">박관우</h5>
          <p class="card-text">JYP</p>
          <p class="card-location">서울</p>
          <p class="card-tag">
            <span>남성</span>
            <span>20대</span>
          </p>
        </div>
      </div>
    </a>
  </div>
  <div class="col">
    <a href="/profile/parkwhite">
      <div class="card h-100">
        <i class="card-bookmark bi bi-bookmark"></i>
        <div class="card-top-cover">
          <img
            loading="lazy"
            src="/static/img/artistImg/parkwhite/main2.jpg"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">박하얀</h5>
          <p class="card-text">SM</p>
          <p class="card-location">서울</p>
          <p class="card-tag">
            <span>여성</span>
            <span>20대</span>
          </p>
        </div>
      </div>
    </a>
  </div>
  <div class="col">
    <a href="">
      <div class="card h-100">
        <i class="card-bookmark bi bi-bookmark"></i>
        <div class="card-top-cover">
          <img
            loading="lazy"
            src="/static/img/artistImg/openprofile4.jpg"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">김민주</h5>
          <p class="card-text">YG</p>
          <p class="card-location">서울</p>
          <p class="card-tag">
            <span>여성</span>
            <span>20대</span>
          </p>
        </div>
      </div>
    </a>
  </div>
  <div class="col">
    <a href="">
      <div class="card h-100">
        <i class="card-bookmark bi bi-bookmark"></i>
        <div class="card-top-cover">
          <img
            loading="lazy"
            src="/static/img/artistImg/openprofile5.jpg"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">미연</h5>
          <p class="card-text">리오컴퍼니</p>
          <p class="card-location">서울</p>
          <p class="card-tag">
            <span>여성</span>
            <span>20대</span>
          </p>
        </div>
      </div>
    </a>
  </div>
  <div class="col">
    <a href="">
      <div class="card h-100">
        <i class="card-bookmark bi bi-bookmark"></i>
        <div class="card-top-cover">
          <img
            loading="lazy"
            src="/static/img/artistImg/openprofile6.jpg"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">유아</h5>
          <p class="card-text">리오컴퍼니</p>
          <p class="card-location">서울</p>
          <p class="card-tag">
            <span>여성</span>
            <span>20대</span>
          </p>
        </div>
      </div>
    </a>
  </div>
  <div class="col">
    <a href="">
      <div class="card h-100">
        <i class="card-bookmark bi bi-bookmark"></i>
        <div class="card-top-cover">
          <img
            loading="lazy"
            src="/static/img/artistImg/openprofile7.jpg  "
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">태연</h5>
          <p class="card-text">SM</p>
          <p class="card-location">서울</p>
          <p class="card-tag">
            <span>여성</span>
            <span>30대</span>
          </p>
        </div>
      </div>
    </a>
  </div>
  <div class="col">
    <a href="">
      <div class="card h-100">
        <i class="card-bookmark bi bi-bookmark"></i>
        <div class="card-top-cover">
          <img
            loading="lazy"
            src="/static/img/artistImg/openprofile8.png"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">다현</h5>
          <p class="card-text">JYP</p>
          <p class="card-location">서울</p>
          <p class="card-tag">
            <span>여성</span>
            <span>20대</span>
          </p>
        </div>
      </div>
    </a>
  </div>
</div>
