<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"
        integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>login</title>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <link rel="stylesheet" href="../../static/css/join/join.css">


</head>

<body style="background-color: whitesmoke">
    <!-- 투명 인풋 박스창 -->
    <!-- <div>이름
                <input type="text" style="border: none; background: transparent;">
            </div> -->
    <div class="box">
        <div id="menu" class="box1">

            <div class="box2">
                <p></p>
                <h2 class="jointext">개인회원 가입</h2>
                <div class="input">
                    <div class="text_box">
                        <input type="text" placeholder="이메일" style="background: transparent;">
                        <input type="button" value="?" class="email" class="arrow_box">
                        <p class="arrow_box">사용 중인 이메일을 입력해주시길 바랍니다. 비밀번호 찾기를 이용하실 경우 필요합니다.
                        </p>
                    </div>
                    <p></p>
                    <div>
                        <input type="text" placeholder="비밀번호" style=" background: transparent;">
                    </div>
                    <p></p>
                    <div>
                        <input type="text" placeholder="비밀번호(확인)" style=" background: transparent;">
                    </div>
                    <p></p>
                    <div>
                        <input type="text" placeholder="활동명(이름)" style=" background: transparent;">
                        <input type="button" value="?" class="name">
                        <p class="arrow_box1">실제 이름과 활동 이름이 다른 경우 <b style="font-size: 13px;">활동 이름</b>을 입력해주시길 바랍니다.
                        </p>
                    </div>
                    <p></p>
                    <div>
                        <input type="text" placeholder="활동 나이(생년월일)" style=" background: transparent;">
                        <input type="button" value="?" class="age">
                        <p class="arrow_box2">실제 나이와 활동 나이가 다를 경우 <b style="font-size: 13px;">활동 나이</b>를 입력해주세요.
                        </p>
                    </div>
                    <p></p>
                    <select name="fruits" class="select">
                        <option disabled selected>성별 선택</option>
                        <option value="apple">남자</option>
                        <option value="orange">여자</option>
                    </select>
                    <p></p>
                    <div>
                        <input type="text" placeholder="닉네임" style=" background: transparent;">
                    </div>
                    <p></p>

                    <div class="ad">
                        <input type="text button" id="sample3_postcode" value="우편번호"
                            onclick="sample3_execDaumPostcode()"><br>
                        <!-- <input type="button" onclick="sample3_execDaumPostcode()" value="우편번호 찾기"><br> -->
                        <input type="text" id="sample3_address" placeholder="주소"><br>
                        <input type="text" id="sample3_detailAddress" placeholder="상세주소">
                        <input type="text" id="sample3_extraAddress" placeholder="참고항목">
                        <div id="wrap"
                            style="display:none;border:1px solid;width:500px;height:300px;margin:5px 0;position:relative">
                            <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnFoldWrap"
                                style="cursor:pointer;position:absolute;right:0px;top:-1px;z-index:1"
                                onclick="foldDaumPostcode()" alt="접기 버튼">
                        </div>
                    </div>
                    <p></p>
                    <div class="h4">
                        <h4><b>*약관동의</b></h4>
                    </div>

                </div>
                <div class="box3">
                    <div>
                        전체동의
                        <input type="checkbox" id="cbtest2">
                        <label for="cbtest2" class="cb2" style="float: right;"></label>
                    </div>
                    <div>
                        개인정보 수집 및 이용동의(필수)
                        <input type="checkbox" id="cbtest3">
                        <label for="cbtest3" class="cb3" style="float: right;"></label>
                    </div>
                    <div>
                        마케팅 정보 수진동의(선택)
                        <input type="checkbox" id="cbtest4">
                        <label for="cbtest4" class="cb4" style="float: right;"></label>
                    </div>
                    <div class="container-fluid">
                        <!-- Button trigger modal -->
                        <button type="button" id="save" class="btn btn-warning" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                            작성완료
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div id="dialog1" class="modal-dialog ">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">셀럽스타즈 회원가입</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body" >
                                        셀럽스타즈 가입을 진행하시겠습니까?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">취소</button>
                                        <button type="button" class="btn btn-warning">회원가입</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>






            </div>


        </div>

    </div>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <script>
        // var myModal = new bootstrap.Modal(document.getElementById('myModal'), options)
        // var myModal = document.getElementById('myModal')
        // var myInput = document.getElementById('myInput')

        // myModal.addEventListener('shown.bs.modal', function () {
        //     myInput.focus()
        // })
        // 우편번호 찾기 찾기 화면을 넣을 element
        var element_wrap = document.getElementById('wrap');

        function foldDaumPostcode() {
            // iframe을 넣은 element를 안보이게 한다.
            element_wrap.style.display = 'none';
        }

        function sample3_execDaumPostcode() {
            // 현재 scroll 위치를 저장해놓는다.
            var currentScroll = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
            new daum.Postcode({
                oncomplete: function (data) {
                    // 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var addr = ''; // 주소 변수
                    var extraAddr = ''; // 참고항목 변수

                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                    }

                    // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                    if (data.userSelectedType === 'R') {
                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                        if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                            extraAddr += data.bname;
                        }
                        // 건물명이 있고, 공동주택일 경우 추가한다.
                        if (data.buildingName !== '' && data.apartment === 'Y') {
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                        if (extraAddr !== '') {
                            extraAddr = ' (' + extraAddr + ')';
                        }
                        // 조합된 참고항목을 해당 필드에 넣는다.
                        document.getElementById("sample3_extraAddress").value = extraAddr;

                    } else {
                        document.getElementById("sample3_extraAddress").value = '';
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('sample3_postcode').value = data.zonecode;
                    document.getElementById("sample3_address").value = addr;
                    // 커서를 상세주소 필드로 이동한다.
                    document.getElementById("sample3_detailAddress").focus();

                    // iframe을 넣은 element를 안보이게 한다.
                    // (autoClose:false 기능을 이용한다면, 아래 코드를 제거해야 화면에서 사라지지 않는다.)
                    element_wrap.style.display = 'none';

                    // 우편번호 찾기 화면이 보이기 이전으로 scroll 위치를 되돌린다.
                    document.body.scrollTop = currentScroll;
                },
                // 우편번호 찾기 화면 크기가 조정되었을때 실행할 코드를 작성하는 부분. iframe을 넣은 element의 높이값을 조정한다.
                onresize: function (size) {
                    element_wrap.style.height = size.height + 'px';
                },
                width: '100%',
                height: '100%'
            }).embed(element_wrap);

            // iframe을 넣은 element를 보이게 한다.
            element_wrap.style.display = 'block';
        }
        //         /* 화살표 함수 */
        // const label = document.querySelector('.label');
        // const options = document.querySelectorAll('.optionItem');

        // // 클릭한 옵션의 텍스트를 라벨 안에 넣음
        // const handleSelect = (item) => {
        //   label.parentNode.classList.remove('active');
        //   label.innerHTML = item.textContent;
        // }
        // // 옵션 클릭시 클릭한 옵션을 넘김
        // options.forEach(option => {
        // 	option.addEventListener('click', () => handleSelect(option))
        // })

        // // 라벨을 클릭시 옵션 목록이 열림/닫힘
        // label.addEventListener('click', () => {
        //   if(label.parentNode.classList.contains('active')) {
        //   	label.parentNode.classList.remove('active');
        //   } else {
        //   	label.parentNode.classList.add('active');
        //   }
        // })
        /* 일반함수 */
        const label = document.querySelector('.label');
        const options = document.querySelectorAll('.optionItem');
        // 클릭한 옵션의 텍스트를 라벨 안에 넣음
        const handleSelect = function (item) {
            label.innerHTML = item.textContent;
            label.parentNode.classList.remove('active');
        }
        // 옵션 클릭시 클릭한 옵션을 넘김
        options.forEach(function (option) {
            option.addEventListener('click', function () { handleSelect(option) })
        })
        // 라벨을 클릭시 옵션 목록이 열림/닫힘
        label.addEventListener('click', function () {
            if (label.parentNode.classList.contains('active')) {
                label.parentNode.classList.remove('active');
            } else {
                label.parentNode.classList.add('active');
            }
        });

// 우편주소//

    </script>

    <!-- <img class="logo" src="/static/img/KakaoTalk_20220414_145050835 (1).png" alt=""> -->
</body>

</html>