<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
    <%-include("../link.ejs")%>
    <link rel="stylesheet" href="/sweet/sweetalert2.css" />
    <link rel="stylesheet" href="../../static/css/join/join.css" />
  </head>

  <body class="background">
    <!-- 투명 인풋 박스창 -->
    <!-- <div>이름
                <input type="text" style="border: none; background: transparent;">
            </div> -->
    <div class="box">
      <div id="menu" class="box1">
        <div class="box2">
          <p></p>
          <h2 class="jointext">개인회원 가입</h2>
          <div class="input">
            <div class="text_box">
              <input
                id="user_email"
                name="user_email"
                type="email"
                placeholder="이메일"
                style="background: transparent"
                oninput="resisterEmailReg()"
                required
              />
              <input type="button" value="?" class="email" class="arrow_box" />
              <p class="arrow_box">
                사용 중인 이메일을 입력해주시길 바랍니다. 비밀번호 찾기를
                이용하실 경우 필요합니다.
              </p>
              <div class="check_font" id="email_check"></div>
            </div>
            <p></p>
            <div>
              <input
                id="user_pw"
                type="password"
                placeholder="비밀번호"
                style="background: transparent"
                oninput="resisterPwReg()"
                required
              />
            </div>
            <div class="check_font" id="pw_check"></div>
            <p></p>
            <div>
              <input
                id="user_pw2"
                type="password"
                placeholder="비밀번호(확인)"
                style="background: transparent"
                oninput="resisterPwReg2()"
                required
              />
            </div>
            <div class="check_font" id="pw_check2"></div>
            <p></p>
            <div>
              <input
                id="user_name"
                type="text"
                placeholder="활동명(이름)"
                style="background: transparent"
                oninput="resisterNameReg()"
                required
              />
              <input type="button" value="?" class="name" />
              <p class="arrow_box1">
                실제 이름과 활동 이름이 다른 경우
                <b style="font-size: 13px">활동 이름</b>을 입력해주시길
                바랍니다.
              </p>
              <div class="check_font" id="name_check"></div>
            </div>
            <p></p>
            <div>
              <input
                id="user_birth"
                type="text"
                placeholder="활동 나이 YYYY-MM-DD"
                style="background: transparent"
                oninput="resisterBirthReg()"
                required
              />
              <input type="button" value="?" class="age" />
              <p class="arrow_box2">
                실제 나이와 활동 나이가 다를 경우
                <b style="font-size: 13px">활동 나이</b>를 입력해주세요.
              </p>
              <div class="check_font" id="birth_check"></div>
            </div>
            <p></p>
            <select name="fruits" class="select">
              <option disabled selected>성별 선택</option>
              <option value="apple">남자</option>
              <option value="orange">여자</option>
            </select>
            <p></p>
            <div>
              <input
                id="user_nickname"
                type="text"
                placeholder="닉네임"
                style="background: transparent"
                oninput="resisterNicknameReg()"
                required
              />
              <div class="check_font" id="nickname_check"></div>
            </div>
            <p></p>

            <div class="ad">
              <input
                type="text button"
                id="sample3_postcode"
                value="우편번호"
                onclick="sample3_execDaumPostcode()"
              /><br />
              <!-- <input type="button" onclick="sample3_execDaumPostcode()" value="우편번호 찾기"><br> -->
              <input
                type="text"
                id="sample3_address"
                placeholder="주소"
              /><br />
              <input
                type="text"
                id="sample3_detailAddress"
                placeholder="상세주소"
              />
              <input
                type="text"
                id="sample3_extraAddress"
                placeholder="참고항목"
              />
            </div>
            <p></p>
            <div class="h4">
              <h4><b>*약관동의</b></h4>
            </div>
          </div>
          <div class="box3">
            <div class="checkbox_group">
              <div>
                전체동의
                <input type="checkbox" id="cbtest2" />
                <label for="cbtest2" class="cb2" style="float: right"></label>
              </div>
              <div>
                개인정보 수집 및 이용동의(필수)
                <input type="checkbox" id="cbtest3" class="normal" />
                <label for="cbtest3" class="cb3" style="float: right"></label>
              </div>
              <div>
                마케팅 정보 수진동의(선택)
                <input type="checkbox" id="cbtest4" class="normal" />
                <label for="cbtest4" class="cb4" style="float: right"></label>
              </div>
            </div>
          </div>
          <div class="save_box">
            <button
              type="button"
              id="save"
              class="btn btn-warning"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              작성완료
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- 주소검색 -->
    <div id="location-modal">
      <div id="wrap">
        <img
          src="//t1.daumcdn.net/postcode/resource/images/close.png"
          id="btnFoldWrap"
          style="
            cursor: pointer;
            position: absolute;
            right: 0px;
            top: -1px;
            z-index: 1;
          "
          onclick="foldDaumPostcode()"
          alt="접기 버튼"
        />
      </div>
    </div>
    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div id="dialog1" class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              셀럽스타즈 회원가입
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">셀럽스타즈 가입을 진행하시겠습니까?</div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              취소
            </button>
            <button id="joinmembership" type="button" class="btn btn-warning">
              회원가입
            </button>
          </div>
        </div>
      </div>
    </div>

    <script src="/jq/jquery.js"></script>
    <script src="/jq/jquery-ui.js"></script>
    <script src="/sweet/sweetalert2.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/static/js/join/join.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <!-- <img class="logo" src="/static/img/KakaoTalk_20220414_145050835 (1).png" alt=""> -->
  </body>
</html>
