.card {
  border: none;
  position: relative;
  z-index: 1;
}
.card-img-top {
  width: auto;
  height: 200px;
  object-fit: contain;
  overflow: hidden;
  border: 1px solid rgba(100, 100, 100, 0.1);
  border-radius: 10px;
  z-index: 1;
}
